[2020-04-30 12:30] saschagrunert opened #1 "Define minimal valuable implementation"
### Target
Create an operator which synchronizes seccomp profiles from config maps to file system locations.

### Use cases and possible issues
TBD

[2020-04-30 12:49] saschagrunert opened #2 "Move this project into kubernetes-sigs"
The idea is to get sponsoring from SIG node to develop it in the kubernetes-sigs organization. This allows us to use prow and community resources in the first place.

[2020-04-30 12:51] saschagrunert commented on #2
@derekwaynecarr do you think that this would be possible? :innocent:

[2020-06-17 07:04] pjbgf commented on #1
I was wondering whether is it worth adding this too:

- A user wants to ensure the appropriate ACL permissions are set for all profiles across all nodes.
  - The operator will create directories and profiles with only read & write permissions (`0600`) to the user running the Kubelet.
  - The operator will consolidate ACL permissions to ensure that files inside `seccomp-root/operator` is only read

[2020-06-17 07:35] saschagrunert commented on #1
Sure, sounds good. :)

[2020-06-24 07:14] pjbgf commented on #1
On the "delete" function for MVP we could reconcile only when the entire `ConfigMap` was deleted. It would then check the control plane for containers referring to the profiles that are to be deleted and raise a failure event in case they are still in use. Then the entire physical folder (that represents the given `ConfigMap`) would be deleted.

Later on, once we have a CRD we could add validation

[2020-06-24 09:01] saschagrunert commented on #1
Sounds like a plan, we could also rethink that we only allow one profile per config map, but this seems very restrictive, right?

[2020-06-24 17:06] pjbgf commented on #1
I would agree. I think the challenge on trying to allow only one profile per config map is that we won't be able to validate that at creation time, which may impact user experience. Feels like one of those decisions to be deferred until we decide to support customs `CRD`'s.

[2020-06-28 20:29] saschagrunert opened #29 "Provide seccomp profile for the operator"
#### What would you like to be added:

I think a default profile for the operator itself could be a good starting point for a demo. It should be highly restrictive and we could create some documentation around how to build such profiles as well as providing additional application profiles out of the box.

#### Why is this needed:

We should aim for the maximum amount of security for the operator d

[2020-07-14 08:25] saschagrunert commented on #2
Done
/close

[2020-07-14 08:25] #2 closed

[2020-07-14 08:25] saschagrunert commented on #29
/kind feature

[2020-07-14 08:26] saschagrunert commented on #29
/priority important-soon

[2020-07-14 08:26] saschagrunert commented on #1
/kind feature
/priority important-soon

[2020-07-20 11:25] saschagrunert commented on #1
@hasheddan @pjbgf I'd prefer that we cut-out the next necessary steps to achieve this goal and put them into separate issues. WDYT?

[2020-07-30 14:19] saschagrunert commented on #1
Closing this one, we can handle the open bits in dedicated issues.

[2020-07-30 14:20] saschagrunert opened #39 "Enhance e2e tests to test all use-cases"
For the MVP we should work on making the e2e cover all features.

[2020-07-30 14:21] saschagrunert opened #40 "Make seccomp profile applicable per namespace"
We decided that the operator should watch every namespace, therefore we can deploy profiles from every namespace.

[2020-07-30 14:22] saschagrunert commented on #40
/assign @rhafer

[2020-07-30 14:23] hasheddan opened #41 "Surface events for seccomp profiles created via ConfigMaps"
Users should be made aware if their seccomp profile was successfully added to nodes in the cluster or not.

[2020-07-30 14:23] hasheddan commented on #41
/assign

[2020-07-30 14:23] saschagrunert opened #42 "Add default profiles to the operator"
The idea is to add some seccomp profiles for well-known applications, for example the Kubernetes dashboard.

[2020-07-31 07:48] saschagrunert opened #46 "Record seccomp profiles"
The idea is to allow the recording of seccomp profiles directly inside the Kubernetes cluster. To achieve that we could utilize the [oci-seccomp-bpf-hook](https://github.com/containers/oci-seccomp-bpf-hook), which has the following requirements:

- Kernel headers have to be installed (could be handled by the operator or the sysadmin)
- An OCI hook compatible container runtime

We could think about

[2020-07-31 07:48] saschagrunert commented on #46
/priority important-longterm

[2020-07-31 07:49] saschagrunert commented on #42
/priority important-soon

[2020-07-31 07:49] saschagrunert commented on #41
/priority important-soon

[2020-07-31 07:49] saschagrunert commented on #40
/priority important-soon

[2020-07-31 07:49] saschagrunert commented on #39
/priority important-soon

[2020-07-31 20:55] pjbgf commented on #46
This method is ideal for long running containers which would be "monitored" as its functionality is being used, as it only captures the syscalls made during the execution of the container being observed. The more permutations of execution paths ran, the more accurate will be the resulting profile.

A challenge on using seccomp-bpf-hook on a cluster is that it will need to run as root and with `CAP

[2020-07-31 21:17] pjbgf opened #51 "Constrain resource usage"
#### What would you like to be added:

Seccomp operator should have reasonable requirements / limits of CPU, memory and storage defined.

#### Why is this needed:

This provides safe defaults whilst decreases the likelihood of the operator being used to starve a cluster of its resources.

/priority important-soon
/assign

[2020-07-31 21:18] pjbgf commented on #29
/assign

[2020-08-01 08:17] #51 closed

[2020-08-03 12:13] #42 closed

[2020-08-03 15:03] saschagrunert commented on #39
Still to be done after https://github.com/kubernetes-sigs/seccomp-operator/pull/55 merges:
- deploy some profiles from different namespaces
- run workloads with the profiles

[2020-08-04 08:56] #40 closed

[2020-08-04 13:02] #39 closed

[2020-08-04 18:10] #41 closed

[2020-08-04 18:28] pjbgf opened #63 "Provide user guidance around tighter RBAC controls"
#### What would you like to be added:
The operator has currently cluster-wide `get` and `list` permissions for `ConfigMap` objects.
Guidance is needed to help users tightening the RBAC configuration without impacting operator's core functionality.

#### Why is this needed:
Help users implement more restrictive security controls.

/area security

[2020-08-04 18:29] saschagrunert opened #64 "Fix failing image promotion"
The image promotion post submit still seems to fail because of the non existing bucket:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-seccomp-operator-push-image/1290634231994650624

We like to push the latest master image to GCR, but it seems there are some bits missing or misconfigured.

The prow job: https://github.com/kubernetes/test-infra/blob/ab8cb5abfd6f5304526a982a24f63d33dde78

[2020-08-04 18:30] hasheddan commented on #64
/assign

[2020-08-04 18:36] pjbgf opened #65 "Create AppArmor profile for the operator"
#### What would you like to be added:
A tailor-made AppArmor profile to restrict functionality to the minimum required for the operator to run.

#### Why is this needed:
Better define the attack surface, giving users a clear view of what the operator can/cannot do.

/area security
/priority important-longterm

[2020-08-04 18:53] saschagrunert commented on #65
I love that! Would the deployment work in the same way like we do in #52?

Since the complexity of the init container seems to increase we could think about wrapping it in an own container/binary. 😅

[2020-08-04 19:22] saschagrunert opened #66 "Validate profiles before writing them to disk"
We could add a pre validation step to parse the seccomp profiles before writing them to disk. This way we can ensure that only valid profiles are written down. I would report errors with events as well as directly at reconciliation level. WDYT? Would this be suitable for v1?

/area security

Refers to https://github.com/seccomp/containers-golang/issues/34

[2020-08-04 21:33] #64 closed

[2020-08-05 13:49] saschagrunert commented on #66
Let's close this now
/close

[2020-08-05 13:50] #66 closed

[2020-08-05 17:06] saschagrunert opened #76 "Check if a node has seccomp support."
We could verify if a node supports seccomp by:

[code]

The question is, what would we do in the case that this function returns `false`? We could make the reconciliation a noop, throw a warning event. Right now this would not bring much benefit to the user. How could we prevent that a workload with a profile gets scheduled on a node which is not supporting seccomp?

[2020-08-05 18:07] hasheddan commented on #76
Seems like a good use-case for an admission webhook.

[2020-08-05 18:53] saschagrunert commented on #76
Yeah, so probably a good topic for post v1.

[2020-08-06 14:49] hasheddan commented on #63
/assign

[2020-08-06 20:31] pjbgf commented on #76
I think if it returns `false` we could tag the node with something meaningful, which could then be used with [node selectors](https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/pods/pod-nginx.yaml).
If we have the capacity, we potentially could do now:

1. Implement the validation and tagging.
2. Document so users can already benefit from being able to not schedule pod

[2020-08-07 07:35] saschagrunert commented on #76
Sounds good, let's move it to v2 to decrease the complexity.

[2020-08-07 08:36] pjbgf commented on #65
Yes, we probably would have to deploy it in the same way as #52.

As for its own binary, there are a few issues as we discussed off-line. We could isolate each one of those "self profile deployment" in specific init containers, that could make it easier for easier to opt-out.

[2020-08-07 10:20] saschagrunert opened #82 "Cut initial release"
This is the placeholder issue for cutting the first release. I think we should wait for https://github.com/kubernetes/test-infra/pull/18667 and everything in milestone v1.

Cutting the release would imply a PR changing the version in the operator.yaml manifest. This commit could be tagged afterwards as the actual version. The built image (after finishing the postsubmit job) could be promoted to th

[2020-08-08 11:47] saschagrunert commented on #76
#85 contains a first RFC, but does not necessarily land in v1.

[2020-08-08 12:08] hasheddan commented on #76
@saschagrunert do you know how the kubelet handles if a pod is scheduled to it with a seccomp profile and seccomp is not enabled? I would imagine it likely behaves similar to if the profile does not exist?

[2020-08-08 12:27] saschagrunert commented on #76
In CRI-O we fail scheduling if the profile is not set to unconfined:
https://github.com/cri-o/cri-o/blob/98ea748e2551f01919cfc33eb9f0f9403888f1a6/server/container_create.go#L614

But it depends if the builds of CRI-O and runc have seccomp enabled. For example if a node does support seccomp, but runc is build without it then we will still fail to schedule the workload. The other way around if every

[2020-08-13 10:46] #29 closed

[2020-08-13 12:55] saschagrunert commented on #76
This is mainly done, let's defer the mutating webhook discussion to v2.

[2020-08-13 12:55] #76 closed

[2020-08-13 12:57] saschagrunert commented on #63
/priority important-soon

[2020-08-13 14:06] #63 closed

[2020-08-13 14:40] saschagrunert commented on #82
/assign

[2020-08-14 08:51] saschagrunert commented on #82
Some release notes draft:
[code]

[2020-08-14 08:58] saschagrunert opened #104 "Setup regular community meeting"
The idea is to sync-up on new features, ongoing development and contributors on a regular basis. I suggest that we do that once a month. Do you think that this would be sufficient?

[2020-08-14 11:51] hasheddan commented on #104
+1 on monthly. We can always increase frequency if needed 👍 Might be good to also talk about a release cadence.

[2020-08-14 12:09] hasheddan opened #106 "Clean up profiles when ConfigMap deleted"
#### What would you like to be added:

Currently profiles are not cleaned up on a node when their `ConfigMap` is deleted. The lifecycle of the profile on a node should match that of the `ConfigMap` that created it.

#### Why is this needed:

In most cases it is actually fine for the profile to be orphaned. In fact, cleaning up a profile after a workload has started using it can be a problem if tha

[2020-08-14 12:09] hasheddan commented on #106
/assign

[2020-08-14 12:47] saschagrunert commented on #82
Done https://github.com/kubernetes-sigs/seccomp-operator/releases/tag/v0.1.0

[2020-08-14 12:47] #82 closed

[2020-08-14 13:15] saschagrunert opened #107 "Use kustomize for base deployment and derive namespaced one"
The idea is to combine both deployment variants to increase their maintainability.

We could create one kustomize `base` and change the namespaced deployment to be an overlay of the base. We also could generate those two deployments statically for the end users, so that they do not have to rely on the kustomize binary itself (like now, but with increased maintainability). The verify CI job can the

[2020-08-14 13:18] saschagrunert opened #108 "Make e2e tests (partially) run with namespaced deployment"
The [namespaced deployment](https://github.com/kubernetes-sigs/seccomp-operator/blob/19835a6/deploy/namespace-operator.yaml) is currently not e2e tested. One thing to mention is that they will not run out of the box, because the `default-profiles` configMap is part of the target namespace and not the `seccomp-operator` one.

[2020-08-14 13:20] hasheddan commented on #108
/assign

[2020-08-19 11:35] #104 closed

[2020-08-20 19:58] #107 closed

[2020-08-27 15:29] saschagrunert opened #117 "Custom Resource Definition (CRD) for profiles"
The idea is to create a CRD on top of profiles, which helps to:

- focus on a better user experience
- provides a useful abstraction, like the minimum amount of syscalls needed for container runtimes like runc
- easier create profiles on a higher level

[2020-08-27 15:30] saschagrunert opened #118 "Expand the scope of the operator to AppArmor"
Loading AppArmor profiles could be done easily by the operator, too. We probably have to rename the project to something like "security-operator", too.

[2020-08-27 15:32] saschagrunert opened #119 "Enhance the profile validation by re-using the libcontainer implementation"
I'm working right now to move the validation code from runc (libcontainer) into [containers/common](https://github.com/containers/common), which could be then re-used by the operator to do a tighter validation of the profiles.

If we have a CRD, then we could think about possibilities to validate the profile on CRD creation.

[2020-08-31 16:29] saschagrunert commented on #117
cc @cmurphy

[2020-08-31 16:30] saschagrunert commented on #46
cc @rhafer @ereslibre

[2020-08-31 16:31] saschagrunert commented on #118
cc @mrostecki

[2020-09-01 16:18] cmurphy commented on #117
I started working on a rough schema definition for this: https://gist.github.com/cmurphy/dc67e2d1214947972f41b7caa2ebf3ae

Going to look into using kubebuilder to translate the yaml into Go and build the controller.

[2020-09-01 16:42] saschagrunert commented on #117
Awesome, thank you for the update @cmurphy! I’ll give it a look m. (cc @pjbgf @hasheddan)

[2020-09-01 17:10] saschagrunert commented on #117
I really like the proposal in the GitHub gist! One thing you've already mentioned is that some fields are not part of the runtime spec. Now it gets a bit tricky: The main reason of that is because before the runtime spec event existed, docker invented the original seccomp profile types there:

https://github.com/moby/moby/blob/master/api/types/seccomp.go (used by docker nowadays)

But, we also hav

[2020-09-02 19:44] pjbgf commented on #117
Just added some comments directly in the gist, but in short: yes, brilliant stuff from @cmurphy! 👍

@saschagrunert I would agree with your suggestion to start with support for the runtime-spec. If we document that non-OCI fields are only supported on the `ConfigMap` implementation we should have no problems.

I have a feeling that most users won't be using things such as `includes`/`excludes`. But

[2020-09-02 19:47] hasheddan commented on #118
@saschagrunert @pjbgf what are y'all thinking about potential rename? Would likely be good to do sooner rather than later if it is something we want to do.

[2020-09-03 05:30] cmurphy commented on #117
Thanks for the comments! I started a rough implementation here: https://github.com/kubernetes-sigs/seccomp-operator/pull/125

I added `KILL_THREAD` but haven't addressed the other questions of whether to include properties from the runtime spec vs docker vs containerd etc yet.

[2020-09-03 07:18] saschagrunert commented on #118
Yes I think that's a good idea. Do you wanna go ahead and create the issue? :+1:

[2020-09-03 07:50] pjbgf opened #126 "Add support for loading AppArmor profiles into nodes"
Add support for managing AppArmor profiles based off `ConfigMap`.

/priority important-soon

[2020-09-03 07:50] pjbgf commented on #118
Yep, completely agree we rather do that soon. Will create a few issues on this now.

[2020-09-03 07:52] pjbgf commented on #126
xref: https://github.com/kubernetes-sigs/seccomp-operator/issues/118

[2020-09-03 07:54] pjbgf opened #127 "Rename operator to consider support to other security capabilities (i.e. AppArmor)"
It may be worth renaming the operator given the direction of broaden up its capabilities. (xref https://github.com/kubernetes-sigs/seccomp-operator/issues/118)

My personal suggestion would be "security-profiles-operator".

Places to rename:
- [x] repository https://github.com/kubernetes/org/issues/2177
- [x] code base https://github.com/kubernetes-sigs/security-profiles-operator/pull/139
- [x] sl

[2020-09-07 19:00] pjbgf opened #131 "Define behaviour for `CRD` and `ConfigMap` containing the same profile"
The operator is gaining [full support](https://github.com/kubernetes-sigs/seccomp-operator/pull/125/) to represent seccomp profiles in `CRD`.

Used in conjunction, and having the same profile name used in both CRD and ConfigMap forms, may lead to a non-deterministic results. Whatever resource is created last would overwrite the other former. Here's a few ideas on how we could tackle it:

1. Only a

[2020-09-07 19:01] pjbgf commented on #131
@cmurphy @saschagrunert @hasheddan any suggestions on other options or favourite options? I personally would be leaning towards the first one.

[2020-09-08 07:45] saschagrunert commented on #131
Would be fine having it configurable, while having the CRD be the new default :)

[2020-09-17 22:08] cmurphy commented on #131
It might be easier to just use different paths. The path for a profile created as a ConfigMap versus a CRD are already naturally different, since both the name of the ConfigMap and an explicit name for the file are used to construct the path, e.g. `/var/lib/seccomp-operator/<namespace>/<configmap name>/<file name>`, but there is no equivalent explicit file name for the CRD (unless we want to add i

[2020-09-24 18:59] saschagrunert opened #133 "Check if type-based validation is necessary when having a CRD"
With #125 we will have a CRD around seccomp profiles which give us a good API-level validation of the fields. We should check if this type-based validation is still necessary afterwards:

https://github.com/kubernetes-sigs/seccomp-operator/blob/b292dd72053e9868d39e6d2063dcfb1f4454e99a/internal/pkg/controllers/profile/profile.go#L216-L226

The check just unmarshals the JSON fields which gives us ki

[2020-09-24 19:09] cmurphy opened #135 "Define groupName for new SeccompProfile CRD"
The `groupName` for the new SeccompProfile CRD is based on the current name of the operator which [may soon change](https://github.com/kubernetes-sigs/seccomp-operator/issues/127). It may also make sense to append `.k8s.io` or `.kubernetes.io` to the name since it is part of an official kubernetes SIG, but this [requires approval](https://github.com/kubernetes/enhancements/pull/1111). Once a decis

[2020-09-24 20:06] pjbgf commented on #131
@cmurphy My main concern would be the edge case you already called out, which makes me feel like option 2 may become a footgun as it gives users some room for misinterpretation.

[2020-09-24 20:08] pjbgf commented on #127
Changed the suggested name to `security-profiles-operator`. Will present it to sig-node next week.

[2020-09-24 20:20] saschagrunert commented on #127
Thank you for taking care of that! :pray:

+1 for the name

[2020-09-30 14:35] #117 closed

[2020-10-01 17:33] moolen commented on #46
I did a bit of reasearch, i just want to cross-reference them:
* `cri-containerd` doesn't support oci-hooks yet, this is IMO a major blocker for this (https://github.com/containerd/cri/issues/405)
* ftrace could be a different option (depends on oci-hooks, but doesn't require kernel headers): https://github.com/KentaTada/oci-ftrace-syscall-analyzer
* we could talk to containerd directly to get a P

[2020-10-02 07:06] saschagrunert commented on #46
Interesting approaches @moolen and thank you for the insights. :pray: From my perspective the most clean way would be to let containerd suppport OCI hooks, where I see no major blockers for it. :shrug:

[2020-10-02 07:14] rhafer commented on #46
@pjbgf  Isn't it only the hook itself that needs `CAP_SYS_ADMIN` (in order to setup the bpf tracer). IIUC this doesn't mean that the container itself needs the `CAP_SYS_ADMIN`   capability.

[2020-10-02 07:28] rhafer commented on #46
Yeah, that might be worth a look. Another option would be to utilize the seccomp notifcation mechanism (as already mentioned in initial post), but that does require some changes on lower level runtimes  (`runc`, `crun`, ...)

Hm, I guess at that point it might already have missed a couple of syscalls? So result would be imcomplete. I agree with @saschagrunert here, it would be cool if containerd w

[2020-10-06 17:18] dchen1107 commented on #127
+1 on the new name: security-profiles-operator

[2020-10-06 17:32] mrunalp commented on #127
:+1:

[2020-10-07 07:19] pjbgf commented on #135
On yesterday's sig-node we got a few +1 on the new name `security-operators-operator`, we should be OK to rename the `groupName` based on that.

[2020-10-07 16:14] pjbgf commented on #135
This is tackled by https://github.com/kubernetes-sigs/security-profiles-operator/pull/139

[2020-10-08 19:38] pjbgf commented on #131
After some [talk on this subject](https://kubernetes.slack.com/archives/C013FQNB0A2/p1602176399038600?thread_ts=1602163933.038000&cid=C013FQNB0A2) we come to the conclusion that we were better-off removing `ConfigMap` support.

This change will make it easier for users to use the operator and remove unnecessary ambiguity.
Closing this issue given that its goal was to define the behaviour, which no

[2020-10-08 19:38] #131 closed

[2020-10-08 21:13] pjbgf opened #141 "Dynamic Seccomp Profiles based on Cluster-level rules to Block syscalls"
#### What would you like to be added:

Custom seccomp profiles could be dynamically modified to always block specific system calls.
This would ensure that profiles could not allow their execution (considering both allow and deny list profiles).

#### Why is this needed:

A good example of the need for this is when it is insecure to use a given system call. For example, before kernel 4.8 `ptrace` c

[2020-10-08 21:20] pjbgf opened #142 "Dynamic Seccomp Profiles based on Cluster-level rules to Enforce syscalls"
#### What would you like to be added:

Custom seccomp profiles could be dynamically modified to always allow specific system calls.
The always allowed system calls would be low risk/impact and built into the operator.

#### Why is this needed:

Some essential system calls (e.g. `exit`, `exit_group`) can be left out of seccomp profiles leading to containers being caught up on endless exit loops, as

[2020-10-09 06:30] pjbgf commented on #46
Very fair observation. Overall my concern is that requiring users to have something running with `CAP_SYS_ADMIN` capability within their clusters may lead a few potential route of privesc/security features bypass that cannot go unchecked. This is not a show stopper in itself, however we need to think what compensating controls we would put in place to limit potential damage.

Once we get to a work

[2020-10-09 07:35] saschagrunert commented on #142
Sounds good! How would an API look like?

[2020-10-15 07:18] #135 closed

[2020-10-29 17:15] saschagrunert commented on #106
@hasheddan do you still plan to work on this or can someone else take it? :)

[2020-10-29 17:15] saschagrunert commented on #108
@hasheddan do you still plan to work on this or can someone else take it? :)

[2020-10-29 17:18] saschagrunert commented on #133
The CRD is totally fine for replacing the logic of the validation. Closing this one.

[2020-10-29 17:18] #133 closed

[2020-10-29 17:19] saschagrunert commented on #119
This does not seem necessary any more (see #121)

[2020-10-29 17:19] #119 closed

[2020-10-29 17:23] saschagrunert opened #145 "Bind CRD profiles to workloads"
#### What would you like to be added:
Target is to find a way to make applying profiles easier rather than specifying the `LocalhostPath` in the security context.

#### Why is this needed:
Users may not know where the profile is actually saved on disk. We could implement a new resource like a `ProfileBinding` which uses a selector to mutate workloads and set the right path to the profile in it's a

[2020-10-30 01:46] cmurphy opened #150 "Decide whether and how to add default syscalls to the SeccompProfile CRD"
Part of the idea of #117 was to perhaps ensure that a standard set of default syscalls were present in a profile so that a minimum viable pod could be launched in kubernetes on e.g. runc. This issue is to evaluate whether this is worthwhile and discuss how to implement it.

The first consideration is that it's possible that the syscalls used by runc could change over time, and in fact they haven't

[2020-10-30 08:37] saschagrunert commented on #150
I agree this is a though topic. Maybe we could start with documentation around that topic and explain to the user:

- Which syscalls are going to be expected by nearly every workload, because they're required by the OCI runtime (like runc)
- Which syscalls are additionally required, for example to run `kubectl exec -it …`

We could scope the documentation on an x86_64 environment and describe that

[2020-10-30 16:44] cmurphy commented on #150
I think that could work...so it would look something like this:

[code]
/var/lib/kubelet/seccomp/operator/default/hello/hello-world.json:
[code]

Still, what should happen if there are syscalls with different actions in the base versus user-defined profile? e.g.

base:
[code]
user-defined:
[code]
merged:
[code]

That would be an invalid profile, I think? But I guess no different than if the user h

[2020-11-04 08:14] #150 closed

[2020-11-18 07:40] #106 closed

[2020-11-19 22:53] pjbgf commented on #65
/remove-lifecycle stale

[2020-12-02 00:20] #108 closed

[2020-12-02 08:49] saschagrunert commented on #118
/remove-lifecycle stale.

[2020-12-03 18:11] saschagrunert commented on #127
That's now done
/close

[2020-12-03 18:11] #127 closed

[2020-12-03 18:11] saschagrunert commented on #126
/close
As dup of #118

[2020-12-03 18:12] #126 closed

[2020-12-03 18:12] saschagrunert commented on #65
@pjbgf do you have any update on this one?

[2020-12-04 22:55] cmurphy commented on #145
I think this would be easy to implement with a mutating admission webhook. The new `ProfileBinding` kind would look something like:

[code]

How I think it would work is:
1. When the binding is created, the controller won't really do anything with it or with existing pods. The admin will have to rollout a redeploy in order for existing pods to get the profile update.
2. The webhook will watch for

[2020-12-07 09:02] saschagrunert commented on #145
I agree, let's iterate some thoughts about the overall solution approach (cc @hasheddan @rhafer @pjbgf).

Yes, I think this would be valuable. How would this work technically?

I guess let's focus on the main use case in making it easier and less error prone to reference localhost profiles. It seems overly complicated to me to add the domain-specific localhost path to a workload like `operator/sec

[2020-12-07 14:02] JAORMX opened #163 "SELinux profile support"
Some time ago, we noticed a gap in how folks install SELinux modules for their workloads, and came up with an operator to do just that: https://github.com/JAORMX/selinux-operator . The intent of that project is to be able to create SELinux policies as Custom Resources, and to be able to install them and take them into use on a per-namespace basis. So it comes with the controller that reads policie

[2020-12-07 17:27] cmurphy commented on #145
[**@saschagrunert**](https://github.com/saschagrunert) commented on [Dec 7, 2020, 1:02 AM PST](https://github.com/kubernetes-sigs/security-profiles-operator/issues/145#issuecomment-739778632 "2020-12-07T09:02:19Z - Replied by Github Reply Comments"):

To expose the path in the kubectl -o wide format it looks like we can just modify the CRD to add an additional printer column and set its priority t

[2020-12-07 19:13] JAORMX commented on #163
Let me know what you think. If folks dig the idea I could start bringing the code over and get feedback on the PR itself

[2020-12-07 19:14] saschagrunert commented on #145
Sounds good :+1: We could reference the full yaml path to either the Pods or the Containers `LocalhostProfile`. This way users directly know what we mean.

Do you think it makes sense to add that to the mentioned printer column? I'm not sure if that would be too verbose.

[2020-12-07 19:17] saschagrunert commented on #163
I think that's a gorgeous idea. It would be wonderful if you'd like to contribute the code directly. :heart:

The overall approach seems quite similar, right? So feel free to kick that off the stage :raised_hands:

[2020-12-07 19:31] JAORMX commented on #163
Great! What tool are y'all using to generate controllers and such? Kubebuilder directly, operator-sdk or something else?

[2020-12-07 19:57] saschagrunert commented on #163
Yes, I think we used kubebuilder directly. @cmurphy can share the details :+1:

https://github.com/kubernetes-sigs/security-profiles-operator/blob/43abbff6270cc30fd9ff3d8be7a78f4c65713da4/api/v1alpha1/seccompprofile_types.go#L38

[2020-12-07 22:33] pjbgf commented on #65
@saschagrunert I should get something ready this week.

[2020-12-07 22:37] cmurphy commented on #145
[**@saschagrunert**](https://github.com/saschagrunert) commented on [Dec 7, 2020, 11:14 AM PST](https://github.com/kubernetes-sigs/security-profiles-operator/issues/145#issuecomment-740122951 "2020-12-07T19:14:33Z - Replied by Github Reply Comments"):

Could you clarify what you mean by this, do you mean the name of the attribute should be this full yaml path? e.g. have the column name be "`pod.sp

[2020-12-07 22:45] cmurphy commented on #163
Yes we used kubebuilder to help scaffold out the types and parts of the controller, though TBH the controller already existed when I started working on it and I'm not positive how it was generated initially.

[2020-12-07 22:59] pjbgf commented on #145
In my opinion, this is specially useful when auto applying profiles into public workloads (i.e. `nginx`) - which is where the operator can add a lot of value.

Brilliant idea, this could easily be used to keep on this github repo not only the CRDs but also the ProfileBindings of main workloads, which I think would be quite useful for the community to distribute their security profiles.

Yep, I lik

[2020-12-08 04:55] saschagrunert commented on #145
Yes this was the idea. But we could probably call it `securityContext.seccompProfile.localhostProfile` since it can apply to all containers as well. Since the field explicitly scopes to seccomp profiles we could also just call it `securityContextLocalhostProfile`…

Yep I agree, seems way to verbose to me and docs should be enough.

---

Since @pjbgf provided some useful thoughts on the webhook we

[2020-12-08 08:09] pjbgf commented on #163
@JAORMX  that would be awesome! :rocket:

I think that @hasheddan manually created the controller without any tooling.

[2020-12-08 18:41] cmurphy commented on #145
Hmm I'm not sure I understand what you're suggesting @pjbgf - my suggestion about the patch examples in the documentation was meant to be instead of the new webhook and CRD, not in addition. IMO a new admission webhook (which is a potential attack surface) and new CRD are a little heavy weight for this use case, whereas documented examples and better visibility of the profile path would be simple

[2020-12-10 12:44] #163 closed

[2020-12-10 14:21] hickeyma opened #167 "Fix post submit jobs are not running"
#### What happened:

Post submit jobs for cri-tools do not seem to be running:
https://testgrid.k8s.io/sig-node-cri-tools
https://prow.k8s.io/?job=post-cri-tools-push-image-user-multi-arch

#### What you expected to happen:

The jobs to run when there was a change to https://github.com/kubernetes-sigs/cri-tools/tree/master/images/image-user   as per PR https://github.com/kubernetes-sigs/cri-tools/

[2020-12-10 14:40] hickeyma commented on #167
Sorry, wrong repo.

[2020-12-10 14:40] #167 closed

[2020-12-13 17:06] jouros opened #168 ""error"="updating SeccompProfile: updating SeccompProfile"
#### What happened:
apiVersion: security-profiles-operator.x-k8s.io/v1alpha1
kind: SeccompProfile
metadata:
  name: whitelist
  namespace: default
spec:
  defaultAction: SCMP_ACT_ERRNO
  targetWorkload: custom-profiles
  architectures:
  - SCMP_ARCH_X86_64
  syscalls:
  - action: SCMP_ACT_LOG
    names:
    - _llseek
    - _newselect
    - accept
long list here

kubectl create -f whitelist.yaml

k

[2020-12-14 17:43] pjbgf commented on #65
@saschagrunert we may need to think on a different approach to deploy the operator's own apparmor profile, as I mentioned on the PR and on the k8s issue (kubernetes/kubernetes#97273), the approach taken on seccomp does not work for AppArmor.

[2020-12-14 20:20] cmurphy commented on #168
Can you check if the file is in the correct place for every node, especially the node where the pod is scheduled? That would indicate that the error message in the logs is unrelated since the profile was actually applied. I created a PR to help with those misleading logs: https://github.com/kubernetes-sigs/security-profiles-operator/pull/171

If the profile is deployed everywhere, then there is so

[2020-12-15 12:25] jouros commented on #168
1) I did fresh operator install
2) I deployed below seccomp profile
cat audit.yaml
`---
apiVersion: security-profiles-operator.x-k8s.io/v1alpha1
kind: SeccompProfile
metadata:
  name: audit
  namespace: default
spec:
  defaultAction: SCMP_ACT_LOG
  targetWorkload: custom-profiles
  architectures:
  - SCMP_ARCH_X86_64`

kubectl apply -f audit.yaml
seccompprofile.security-profiles-operator.x-k8s.io/

[2020-12-15 14:28] jouros commented on #168
It seems that profile operator is doing its job as expected and my problems are related to something else, so this issue can be closed.

[2020-12-15 14:28] #168 closed

[2020-12-17 08:52] pjbgf opened #177 "pull-security-profiles-operator-verify failing intermittently"
#### What happened:

Now that we have multiple CRDs `make verify-deployments` fails intermittently, therefore breaking `pull-security-profiles-operator-verify`.

#### What you expected to happen:

On a clean git branch, `make verify-deployments` should yield consistent results.

#### How to reproduce it (as minimally and precisely as possible):

[code]

#### Anything else we need to know?:

Upon i

[2020-12-18 07:22] #177 closed

[2021-01-11 08:22] saschagrunert commented on #142
/remove-lifecycle stale

[2021-01-11 08:22] saschagrunert commented on #141
/remove-lifecycle stale

[2021-01-11 08:22] saschagrunert commented on #118
/remove-lifecycle rotten

[2021-01-11 08:25] saschagrunert commented on #65
Sounds good, let's put it on the agenda for the community meeting this week. :+1:

[2021-01-12 16:34] naveensrinivasan opened #182 "make all fails"
#### What happened:
I have forked the repo and try to run make and it failed.

#### What you expected to happen:
make to succeed

#### How to reproduce it (as minimally and precisely as possible):
[code]

#### Anything else we need to know?:
A better contributing guide would be helpful. I will do a PR to bootstrap when I can get past this.

#### Environment:

- Cloud provider or hardware configura

[2021-01-13 21:38] naveensrinivasan commented on #182
Here are Github actions run for `osx` which has the same issue https://github.com/naveensrinivasan/security-profiles-operator/runs/1698062285?check_suite_focus=true

[2021-01-14 14:57] #182 closed

[2021-01-14 16:48] naveensrinivasan opened #194 "Unable to run e2e tests on macos"
#### What happened:
Unable to e2e test on osx
#### What you expected to happen:
Able to run e2e tests on osx

#### How to reproduce it (as minimally and precisely as possible):

<details>
      <summary>make test-e2e</summary>

[code]
 </details>

#### Environment:

- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`): darwin
- Kernel (e.g. `uname -a`):
- Others:

[2021-01-14 22:23] pjbgf commented on #145
@cmurphy to be completely honest, first time I re-read my comments they made no sense to me either. :sweat_smile: I agree that creating a new CRD and webhook extends the attack surface, it could potentially be an optional component or sit behind a feature gate, so users have the choice on whether or not to use it. But as I mentioned on the meeting today, I do think it would add great value to be a

[2021-01-15 06:43] JAORMX opened #198 "Separate ServiceAccount/RBAC permissions for DaemonSet and Deployment"
## Context

With the recent change of making the DaemonSet be deployed by a Deployment workload ( https://github.com/kubernetes-sigs/security-profiles-operator/pull/180 ). The operator is left using the same ServiceAccount with the same permissions for both workloads.

## What would you like to be added:

We should move the workloads to have individual service accounts so they can have their own R

[2021-01-15 06:53] JAORMX opened #199 "Create distinct cluster-bound and namespace-bound resources"
## Context

Currently, the resources (SeccompProfile and SelinuxPolicy) are bound according to the deployment of the operator. For this, we have two distinct [kustomize overlays](https://github.com/kubernetes-sigs/security-profiles-operator/tree/master/deploy/overlays) called `cluster` and `namespaced`, which set the RBAC and Deployment mode, amongst other things.

## What would you like to be add

[2021-01-15 07:50] saschagrunert commented on #199
I really like this idea and I'm in favor of adding it. I think we may have to refactor some code parts to be re-usable across both (cluster and namespaced) types. :+1:

[2021-01-15 20:44] naveensrinivasan commented on #194
https://github.com/kubernetes-sigs/security-profiles-operator/pull/185

[2021-01-15 23:51] cmurphy opened #201 "Main operator Deployment is missing its seccomp profile"
#### What happened:

With the operator splitting part of its functionality from a `DaemonSet` to a `Deployment`, it lost its seccomp profile and the init code that set it up, which now only exists for the `DaemonSet`:

https://github.com/kubernetes-sigs/security-profiles-operator/commit/b44de6f0c5cae26a4c706da1aec0ac6b06f31669#diff-ee1324908347cf8841925458a9937fb58cd6593d4002af28b74a0071bb12dbf4L1

[2021-01-18 10:44] saschagrunert commented on #201
Alright, at least adding the runtime/default seccomp profile should not hurt in the first place.

To be able to use the same seccomp profile for the deployment, we would have to init the deployment in the same way we do it for the daemonset…

[2021-01-19 14:42] saschagrunert commented on #199
Who wants to work on the seccomp bits? @cmurphy @pjbgf I can also take it but would like to give you precedence :innocent:

[2021-01-19 15:28] JAORMX commented on #199
@saschagrunert I can work on this.

[2021-01-19 22:28] naveensrinivasan opened #211 "Move the e2e to ginkgo"
#### What would you like to be added:
Move the `e2e` tests to [ginkgo](https://onsi.github.io/ginkgo/)

#### Why is this needed:
I am proposing to utilize ginkgo for e2e testing instead of the standard go test. ginkgo is utilized by kubebuilder https://github.com/kubernetes-sigs/kubebuilder/blob/master/test/e2e/v2/plugin_cluster_test.go and comes as a standard package for any new CRD.

Ginkgo is B

[2021-01-20 07:55] saschagrunert commented on #211
Hey @naveensrinivasan, we already had the discussion about ginkgo in the past and explicitly decided against it. I guess we have now more maintainers onboard, which may share different thoughts.

[2021-01-20 09:11] jhrozek commented on #211
On Tue, Jan 19, 2021 at 11:56:11PM -0800, Sascha Grunert wrote:

My 2c: I would honestly prefer to avoid using Ginkgo or any other framework
that reads more like sentences but less like code.

[2021-01-20 10:41] saschagrunert opened #212 "Further enhancements to Deployment / DaemonSet model"
This issue should collect possible enhancements to our current deployment model. Right now we create a Deployment which takes care of deploying the DaemonSet.

Context: https://docs.google.com/document/d/1mIfBJYGOcrNMnXsTw6i3jp8IYyjHC5DZkiuuufFAn_s/edit

Do you see any further enhancements which can be part of this umbrella issue?

[2021-01-20 14:26] naveensrinivasan commented on #211
@saschagrunert  What are the reasons for not choosing ginkgo? I looked into issues and couldn't find any information. This will help anyone understand the reasons for this explicit decision.

Thanks

[2021-01-20 14:26] jhrozek commented on #212
Apart from the things already described in the document which I agree with (e.g. the capability to assess the node security policies would be nice), I wonder if the approach with the statically defined DS definition scales well. I wonder if it would be nicer to have some kind of "builder" that would dynamically add or remove containers or capabilities based on the features enabled. This might be h

[2021-01-20 15:32] saschagrunert commented on #211
This was one of the first decisions we took while ramping up the project. That's why we're now using `testify`. Generally I'm open to re-evaluate the decision and switch if the majority wants to use it.

[2021-01-22 00:45] naveensrinivasan commented on #194
The #185 fixed this and now e2e works on osx.

[2021-01-22 00:45] #194 closed

[2021-01-22 00:55] naveensrinivasan opened #218 "Use k3d instead of kind"
#### What would you like to be added:
Evaluate utilizing [k3d](https://k3d.io/) instead of kind cluster for e2e test

#### Why is this needed:
k3s is a lightweight K8s distribution and k3d is the kind equivalent for it. We should investigate and measure if this can speed up our development/testing times and what are the drawbacks of using k3d vs kind.

[2021-01-22 08:33] #145 closed

[2021-01-22 08:37] saschagrunert commented on #218
Hey @naveensrinivasan, that seems a great area for exploration. Do you think you could provide a proof of concept PR or similar to test it out? Please be aware that it has to work in prow, but if it works with docker-in-docker then it should also work there.

[2021-01-22 08:38] saschagrunert commented on #194
Thank you @naveensrinivasan ! :pray:

[2021-01-22 13:09] saschagrunert opened #220 "e2e tests are broken due to failing cert-manager certificate creation"
The e2e tests are currently not able to deploy the operator, because cert-manager seems to fail to create the certificate in kind.

The operator deployment gets stuck in `ContainerCreating` state:

[code]

The `cert-manager-cainjector` pod reported the following error:

[code]

It may be possible that we have to add additional configuration to make cert-manager work in kind.

cc @cmurphy

[2021-01-22 14:28] naveensrinivasan commented on #218
@saschagrunert I will work on that. Thanks

[2021-01-22 14:37] jhrozek opened #221 "selinux: kustomize templates should enable selinuxd by default"
#### What would you like to be added:
The kustomize templates should switch `EnableSelinux` to true by default when deploying on OpenShift.

#### Why is this needed:
To cover the set of defaults better tailored to OpenShift

[2021-01-22 14:41] jhrozek opened #222 "selinux: the selinuxpolicy controller should not trigger needless writes to the policy file"
#### What would you like to be added:
Reschedule the selinux controller reconcile loop until selinuxd's `/ready` endpoint returns true, indicating that selinuxd is ready to accept requests.

#### Why is this needed:
There was a race in selinuxd that caused the daemon to only start watching for selinuxpolicy files after the startup which is quite expensive and takes a long time. This was uncovered

[2021-01-22 14:43] jhrozek opened #223 "selinux: expand the selinuxpolicy status subresource to include error messages"
#### What would you like to be added:
 - expand the status subresource of the selinuxpolicy object with an error message
 - populate it on errors
 - add an e2e test that tries loading a broken policy

#### Why is this needed:
the selinux controller already reads errors from selinuxd, but only displays them in the logs. It would be more user-friendly if the error was displayed in the status subreso

[2021-01-22 14:45] jhrozek opened #224 "selinux: selinuxd container hardening"
Not sure if this is an RFE or a bug, feel free to change the issue.

#### What would you like to be added:
- resource requests and limits for the selinuxd container
- the selinuxd container should use read-only rootfs

#### Why is this needed:
To harden the selinuxd container. Note that the RO FS is dependant on mounting the database selinuxd uses in a RW location and the database location is not

[2021-01-22 14:46] jhrozek opened #225 "selinux: Use events in the selinux controller"
#### What would you like to be added:
decorate the selinux policy controller with events.

#### Why is this needed:
It was suggested in PR#214 that the selinux controller should use events so that admins are aware of what has happened.

[2021-01-22 17:27] cmurphy commented on #220
Strange that the tests passed when the change was introduced...

I've been using kind in my development and never ran into this

[2021-01-22 19:31] naveensrinivasan commented on #211
@saschagrunert Can you be specifics about what complexity you see in using `ginkgo` vs `testify`?

Also on a similar note what are your thoughts on using https://godoc.org/sigs.k8s.io/controller-runtime/pkg/envtest?
IMO Fakeclient are mess  https://github.com/kubernetes-sigs/controller-runtime/issues/348#issuecomment-469897122

The recommended way to test is using `envtest` without jumping through

[2021-01-22 21:26] naveensrinivasan commented on #211
My ignorance of not understanding the `testify`. I can see how `testify` is comparable with `ginkgo` but in a more non-bdd driven. Thanks

[2021-01-22 21:26] #211 closed

[2021-01-24 21:01] naveensrinivasan opened #227 "RBAC Permissions for controllers to be created by kubebuilder using markers"
#### What would you like to be added:
The RBAC permission for the controllers to be automated by code generation using kubbuilder markers.

##### Example
[code]
https://book.kubebuilder.io/reference/markers/rbac.html
#### Why is this needed:
This avoids the manual updating of the permissions for k8s objects in the generated `yaml`.
Also, it avoids over-provisioning systems with excess permission.

[2021-01-25 03:08] naveensrinivasan commented on #227
/assign

[2021-01-25 03:09] naveensrinivasan commented on #225
/assign

[2021-01-25 08:18] saschagrunert commented on #220
Hm, let's close this issue for now and revisit if the issue occurs again
/close

[2021-01-25 22:06] naveensrinivasan opened #235 "go lint failures on macos"
#### What happened:
The `make verify-go-lint` fails on macos.
`ERRO Running error: buildir: failed to load package : could not load export data: no export data for "github.com/seccomp/libseccomp-golang"`

#### What you expected to happen:
Should not fail on macos.

#### How to reproduce it (as minimally and precisely as possible):
`make verify-go-lint`
https://github.com/naveensrinivasan/security-

[2021-01-26 07:52] saschagrunert commented on #235
I think it tries to include the seccomp build tag which fails on macOS:
https://github.com/kubernetes-sigs/security-profiles-operator/blob/master/.golangci.yml#L7

[2021-01-26 08:14] #221 closed

[2021-01-26 17:57] cmurphy commented on #220
/reopen

This seems to still be popping up, I'll try to dig into it. At a minimum I can split out the webhook deployment so that the e2e tests don't have to deploy cert-manager while we figure it out.

[2021-01-27 08:19] #235 closed

[2021-01-27 11:13] #222 closed

[2021-01-28 07:41] JAORMX commented on #227
Thanks for this bug report! @naveensrinivasan I was working on https://github.com/kubernetes-sigs/security-profiles-operator/issues/198 but if you want to take on this work, feel free to assign yourself to that bug and fix it. I've been a bit swamped with work lately, so it'll take me a while.

[2021-01-28 11:37] naveensrinivasan commented on #227
@JAORMX it makes sense if you are working on similar stuff for you to do things.

I’ll let you decide. Thanks

[2021-01-28 12:18] JAORMX commented on #227
@naveensrinivasan I won't be able to work on this until next week or the week after that. So, if you have time for this one, it would be great!

[2021-01-29 08:05] #220 closed

[2021-01-30 09:01] pjbgf opened #244 "seccomp: audit logs enrichment"
#### What would you like to be added:

Enrich seccomp logs with Kubernetes data (i.e. `namespace`, `pod` and `container`) and potentially outcome (e.g. `blocked`/`allowed`).

#### Why is this needed:

In a cluster and at scale, the built-in audit logs for seccomp are hard to track back to specific pods/containers.
The existing logs:

`[252130.031583] audit: type=1326 audit(1611996299.149:466250):

[2021-02-01 07:40] saschagrunert commented on #244
Yeah this looks like a great enhancement. How would you implement it from a technical perspective? Would it work on every Linux machine?

[2021-02-01 10:59] pjbgf commented on #244
Yes, I got it already working for Ubuntu and CRI-O. Need to test it a bit better but I believe it would not be a problem to support other distros (CentOS and RedHat) and container runtimes.

One question I have is whether it is worth having that in-tree (including the generation of a new docker image), if so keen on creating that PR today.

@JAORMX does SELinux also generate audit logs on "complai

[2021-02-01 11:53] JAORMX commented on #244
@pjbgf it does generate audit logs, both in "enforcing" and "permissive" mode (which I guess is similar to "complain-mode").

[2021-02-01 13:02] saschagrunert commented on #46
/assign
I'll take over the work from @rhafer :)

[2021-02-01 17:10] naveensrinivasan opened #249 "Unable to redeploy webhook.yaml"
#### What happened:
Trying to deploy webhook.yaml failed on a clean cluster.

#### What you expected to happen:
The Webhook deploys successfully.

#### How to reproduce it (as minimally and precisely as possible):

1. Create new cluster
2. Deploy operator.yaml
3. Deploy cert-manager
4. Deploy webhook
5. Delete all of the above
6. Try reinstalling them and then it errors
[code]

#### Anything else

[2021-02-01 17:52] naveensrinivasan commented on #249
Between the redeploy's need to wait for the certmanager to come up.

[2021-02-01 17:52] #249 closed

[2021-02-03 13:19] saschagrunert opened #267 "Deploy default profiles as first-class objects"
Right now we deploy the default profiles as separate step after the operator:

[code]

We could use a first class-object to define the default profiles in the same way as we do it with the spod:

[code]

We would need an additional controller which is able to watch for the daemonset to be running and deploy the profiles in that case.

WDYT?

[2021-02-03 15:09] saschagrunert commented on #267
Ah maybe we can deploy them directly with the SPO daemonset.

[2021-02-03 18:24] cmurphy opened #270 "Deploy ProfileBinding/ProfileRecording webhook as a configurable addon option"
Currently the `Deployment` that handles the `ProfileBinding` and `ProfileRecording` webhook as well as the controllers for those CRDs is applied manually via the `webhook.yaml` manifest. Conversely, the DaemonSet controllers are configured and launched by the operator. We should follow the same pattern with the webhook configuration and eliminate the `webhook.yaml` manifest.

This relates to the d

[2021-02-04 09:52] #267 closed

[2021-02-04 11:48] saschagrunert commented on #46
Let's close this for now, more enhancements to the feature to come.
/close

[2021-02-04 11:49] #46 closed

[2021-02-04 12:49] saschagrunert commented on #270
Hey @cmurphy, are you planning to work on this one? :blush:

[2021-02-04 17:48] saschagrunert opened #275 "Add e2e tests for upgrade scenraios"
We should cover basic workload and profile upgrade scenarios to avoid races in conjunction with workload scheduling and profile reconciliation.

[2021-02-04 17:53] saschagrunert opened #276 "Introduce metrics for the operator"
We should think about a metrics endpoint which provides aggregated data. For example we could provide the amount of errored policies, which is more useful for SRE's than debugging events.

[2021-02-04 18:16] saschagrunert commented on #212
We thought about a possibility to add a socket to each node to prevent the higher set of privileges within our containers. @pjbgf can you elaborate on that?

[2021-02-04 19:07] cmurphy commented on #270
I can work on it, but not this week

[2021-02-04 19:12] cmurphy commented on #270
/assign

[2021-02-08 15:08] saschagrunert opened #282 "Multi-architecture support"
The idea is to build a multi-architecture image to support a common set of golang architectures (linux-only for now).

Question: For which kind of architectures do we see a benefit if we decide to implement that feature?

[2021-02-08 16:46] jhrozek commented on #282
What about arm64 to support both Apple M1 and RPi4?
What about e2e, IIRC kind is x86_64 only?

[2021-02-08 17:37] jhrozek commented on #282
Sorry to reply to myself, but just to be clear: When I say Apple M1 I meant mostly to support kind running on that HW, or a arch64 VM that's backing something like minikube etc..

[2021-02-09 08:56] saschagrunert commented on #282
Yes, I think focussing on arm64 for now should be a good starting point :+1:

[2021-02-10 15:45] saschagrunert opened #288 "Vagrant based e2e tests fail with crun"
The crun based e2e tests fail even with the basic `example/pod.yaml`. The reported reason is that CRI-O is not able to determine the PID of the container. I think it's because the process gets blocked by the seccomp profile, because the issue only occurs when the profile is going to be applied to the workload.

[code]

We should investigate that this is not a crun regression. Maybe we have to chan

[2021-02-11 08:30] saschagrunert commented on #288
Fixed with https://github.com/kubernetes-sigs/security-profiles-operator/pull/290
/close

[2021-02-11 08:30] #288 closed

[2021-02-12 13:43] #282 closed

[2021-02-19 09:55] saschagrunert opened #324 "Add test for tracing containers simultaneously"
This can be done after the merge of https://github.com/cri-o/cri-o/pull/4544#event-4342417744 and https://github.com/cri-o/cri-o/pull/4552.

We should adapt our setup scripts to use a latest master of CRI-O and add an e2e test for recording two independent containers within a single pod:

[code]

Documentation around that feature may be updated, too.

[2021-02-19 09:55] saschagrunert commented on #324
/assign

[2021-02-19 13:27] JAORMX commented on #227
/assign

[2021-02-19 14:27] jhrozek commented on #224
/assign

[2021-02-23 16:13] voigt opened #327 "Make security-profiles-operator daemonset configurable"
#### What would you like to be added:

A mechanism to make the creation of the security-profiles-operator daemonset configurable. At this point in time, the entire Daemonset is [hardcoded](https://github.com/kubernetes-sigs/security-profiles-operator/blob/master/internal/pkg/controllers/spod/bindata/spod.go#L45).

#### Why is this needed:

As an infrastructure SRE there are a couple of scenarios,

[2021-02-25 08:22] voigt commented on #327
Are there any opinion how DS configuration should look like?

Here are some thoughts to get the discussion started:

If I get it correctly, there are different daemonsets per use case, which are created at runtime:
- `seccomp-spod`
- `selinux-spod`
- `recorder-spod`
- and in future something like `apparmor-spod`

I think it should be possible to configure them independently from each other. This i

[2021-02-25 14:31] JAORMX commented on #327
@voigt that's an interesting point; do you have a inhomogeneous nodes in your environment?

One thing to note is that Seccomp tends to be a constant, so the combinations would normally be Seccomp + SELinux or Seccomp + Apparmor; perhaps the way it could be arranged is that we could move the configuration of the SPO to be a CRD (SecurityProfilesDaemon?), and each instance of the daemon would deploy

[2021-02-25 15:50] jhrozek commented on #327
One aspect that I think would be nice to have configurable is the resource requests and limits. Especially for selinuxd which is a resource hog, I'm afraid that if someone runs into the limits, they'd just be out of luck..

[2021-03-01 10:00] saschagrunert commented on #327
Yeah I think the general configuration approach seems reasonable to me. I assume that the configuration would live in a config map? Or the same config map we're using right now? https://github.com/kubernetes-sigs/security-profiles-operator/blob/master/deploy/base/config.yaml

[2021-03-01 10:37] JAORMX commented on #327
@saschagrunert I was more thinking along the lines of moving the ConfigMap to be a CRD, so the configuration would live there, and the same CRD would report the status.

[2021-03-01 10:40] saschagrunert commented on #327
Sounds good to me!

[2021-03-01 13:48] jhrozek commented on #225
@naveensrinivasan are you still planning on working on this issue?

[2021-03-01 13:54] naveensrinivasan commented on #225
Sorry I am not planning to. Thanks

[2021-03-02 10:33] #224 closed

[2021-03-02 12:03] #227 closed

[2021-03-02 14:57] jhrozek commented on #225
/assign

[2021-03-03 08:34] JAORMX commented on #198
Fixed by https://github.com/kubernetes-sigs/security-profiles-operator/pull/325

[2021-03-03 08:34] #198 closed

[2021-03-03 08:38] JAORMX commented on #327
/assign

[2021-03-03 13:47] #327 closed

[2021-03-04 13:01] jhrozek opened #343 "SPO scalable status"
#### What would you like to be added:
Per-node status of SPO's policies like seccomp or SELinux.

#### Why is this needed:
At the moment, the status of SPO profiles like seccomp or SELinux is per-profile. This presents several challenges:
 - it is impossible to reflect per-node status such as a profile failed to install on a single node or a node
   does not support the selected security profile

[2021-03-04 13:05] JAORMX commented on #343
Instead of having a `SeccompProfileNodeStatus`, I'd like to see a unified object (something like `SecurityProfileNodeStatus`) that works for both Seccomp and SELinux profiles. This way we could unify a little more and have a more uniform experience.

[2021-03-04 13:28] jhrozek commented on #343
On Thu, Mar 04, 2021 at 05:05:20AM -0800, Juan Osorio Robles wrote:

Haha, yes, we discussed this on slack before I submitted the issue and
then I just forgot to update the issue text and copied the earlier
version.

In short: I agree.

[2021-03-04 17:25] saschagrunert opened #347 "Consider removing the `targetWorkload` field for seccomp profiles"
We could think about removing the `targetWorkload` field from the seccomp profile CRD. Do we really need it? During development it was mostly confusing to have another sub-path in the whole local path.

Let's evaluate what we would break when removing it.

[2021-03-04 20:53] jhrozek commented on #343
/assign

[2021-03-09 07:37] #347 closed

[2021-03-09 13:48] saschagrunert commented on #324
This works now
/close

[2021-03-09 13:49] saschagrunert commented on #218
@naveensrinivasan any update on this one? Are you still planning to work on it?

[2021-03-09 13:51] saschagrunert opened #353 "Release v0.3.0"
Let's collect a list of issues we would like to solve before releasing v0.3.0.

What I would like include is:

- [x] Close-out: https://github.com/kubernetes-sigs/security-profiles-operator/issues/212
- [x] Include: https://github.com/kubernetes-sigs/security-profiles-operator/issues/343 (cc @jhrozek)
- [x] Include: https://github.com/kubernetes-sigs/security-profiles-operator/issues/270 (cc @cmur

[2021-03-09 13:52] JAORMX commented on #353
@saschagrunert would be nice to include https://github.com/kubernetes-sigs/security-profiles-operator/issues/343 which @jhrozek is currently working on.

[2021-03-09 13:58] naveensrinivasan commented on #218
@saschagrunert Sorry I won’t be able to work on it now. Thanks

[2021-03-09 14:46] JAORMX commented on #353
@saschagrunert thanks! Looks good to me

[2021-03-10 15:21] saschagrunert opened #360 "Allow recording of deployments"
Right now we support recording pods and containers into separate profiles. If we use higher level k8s objects like Deployments with replicas, then the profiles will overwrite each other depending on which replica gets written last.

#### Idea
Separate profiles by not only adding the container name to the profile, but also the pod name.

#### Issue
The webhook does not know the final Pod name when

[2021-03-15 10:01] jhrozek opened #369 "Autodetect or build-time select platform capabilities"
#### What would you like to be added:
Autodetect and/or select during build with build flags the capabilities of the k8s platform - does it support seccomp? Does it suport SELinux?

This could take several forms:
 - just allow the "packager" to select the defaults with build-time flags
 - check the k8s distro type. This could be something like try an API discovery for a proprietary OpenShift objec

[2021-03-15 10:49] saschagrunert commented on #369
Side node, for seccomp we already have this:
https://github.com/kubernetes-sigs/security-profiles-operator/blob/cb86d7ba15f5a4961ab64cefe7a15797965a845d/internal/pkg/daemon/seccompprofile/seccompprofile.go#L174-L188

I agree that it would be useful to have for SELinux. :+1:

[2021-03-16 17:56] jhrozek opened #373 "Reconcile per-node statuses using a separate status reconciler"
#### What happened:
Even though the per-node statuses decrease the amount of races and make the statuses more dependable, it is only /mostly/ the case. As proposed in PR #361, the reconcile loop in the DS pods primarily managers the per-node statuses and if all per-node statuses agree, the same reconcile loop also updates the global policy status.

This has two problems:
 - we still have concurren

[2021-03-18 08:49] #343 closed

[2021-03-18 14:49] #360 closed

[2021-03-22 15:33] jhrozek commented on #373
/assign

[2021-03-22 16:55] cmurphy commented on #347
Sorry to jump on this late, just wanted to note for posterity that this is why we added it in the first place: https://github.com/kubernetes-sigs/security-profiles-operator/pull/138#issuecomment-705989431

With the way `ProfileBinding` binds to images and not workload tags I agree we don't need this anymore.

[2021-03-22 20:43] jhrozek commented on #373
In case I need to disappear this week, I'm pushing my progress here: https://github.com/jhrozek/security-profiles-operator/tree/status_ctrl

[2021-03-23 15:37] saschagrunert commented on #270
@cmurphy do you still wanna take this one or would you need support? :)

[2021-03-23 15:42] cmurphy commented on #270
@saschagrunert I'm working on it as we speak :)

[2021-03-24 10:36] JAORMX commented on #373
/assign

Taking over this work as @jhrozek is not available for some days.

[2021-04-01 14:50] #212 closed

[2021-04-07 17:37] #373 closed

[2021-04-19 06:59] saschagrunert commented on #201
/remove-lifecycle stale

[2021-04-19 08:38] #270 closed

[2021-04-19 09:17] saschagrunert commented on #353
@kubernetes-sigs/security-profiles-operator-maintainers @JAORMX @cmurphy @jhrozek it looks like we're almost ready for v0.3.0. Let's give it some days to double check if we have to include anything else.

[2021-04-19 10:47] saschagrunert commented on #353
First release notes draft:

[code]

[2021-04-19 10:48] JAORMX commented on #353
@saschagrunert let's wait for @jhrozek to add events to the selinux pieces. That way it would have a more complete user experience. It won't take too long now.

[2021-04-20 07:18] saschagrunert commented on #199
@JAORMX do we wanna bring this into v0.3.0, too?
/remove-lifecycle stale

[2021-04-20 07:38] JAORMX commented on #199
@saschagrunert I don't think this is needed for v0.3.0

[2021-04-21 07:32] saschagrunert opened #407 "Create plan about graduating APIs"
All our internal APIs (CRDs) are in `alpha` right now. We also follow a pre v1.x.y semver scheme right now, which allows us breaking the API as we want.

If we want to integrate the operator in more conservative projects, then we may wanna graduate our APIs and move to a v1.x.y release scheme.

This means:
- We should draft a plan how we want to graduate our APIs.
- We should discuss if this API g

[2021-04-21 11:02] jhrozek opened #408 "Limit the `spo.x-k8s.io/profile-name` label content length or limit the profile name length to make them usable for labels"
#### What would you like to be added:
Limit the profile name length to 63 characters. Other ways of solving the problem described below are acceptable, too..

#### Why is this needed:
We added the `spo.x-k8s.io/profile-name` label (`StatusToProfLabel` in the code) as a label of the node statuses to be able to list node statuses per profile. This is useful, but the profile names are not limited and

[2021-04-21 11:07] jhrozek opened #409 "Ship a more complex security policy example"
#### What would you like to be added:
A more complex security policy example than the current nginx one. While the nginx example is good, I think it would be nice to also have a more complex example (an operator or a helm chart of some popular app perhaps).

#### Why is this needed:
For two reasons:
 1. illustrating the SPO value better
 2. we could also document the process of creating the profil

[2021-04-21 11:10] jhrozek commented on #407
As a quick note, issue #223 would still change the API to include the error message. But in general I agree about the need to have a plan.

[2021-04-22 15:25] jhrozek commented on #223
/remove-lifecycle stale
I'll get to this soon

[2021-04-23 08:16] #225 closed

[2021-04-23 08:40] saschagrunert commented on #353
@JAORMX @jhrozek are you ready for v0.3.0?

[2021-04-23 13:41] jhrozek commented on #353
On Fri, Apr 23, 2021 at 01:40:20AM -0700, Sascha Grunert wrote:

Ship it!

[2021-04-25 13:05] tshaiman opened #413 "Could not delete seccomp profile"
#### What happened:
after applying the seccomp profile on several pods, after removing the pods , tried to delete the profile

got an hanging message in the terminal  :"seccompprofile.security-profiles-operator.x-k8s.io "my-profile" deleted"
but it never retruns and the profile did not delete.

#### What you expected to happen:
profile should be removed as with any other k8s resource.

#### How to

[2021-04-26 08:43] saschagrunert commented on #413
Hey @tshaiman :wave:, thank you for submitting the issue report.

Indeed, this should not happen. We apply a finalizer to every profile if there are any active workloads around, which may block the deletion in your case. Can you provide us the logs of the operator deamon and the output of the `kubectl decribe my-profile` command? :)

[2021-04-26 08:44] saschagrunert commented on #353
Let's merge https://github.com/kubernetes-sigs/security-profiles-operator/pull/414 before, too.

[2021-04-26 11:35] jhrozek commented on #413
I would also like to ask what is the version of the operator. If you're running an older released version, I would recommend to try out 0.3.0 which is being released right now. Quite a lot of fixes and changes went into this version..

[2021-04-26 12:26] saschagrunert commented on #353
This is done :heavy_check_mark:

[2021-04-26 12:26] #353 closed

[2021-04-26 14:56] saschagrunert opened #418 "Milestone v0.4.0 planning"
Let's collect a list of things we would like to address for the next milestone (I named it 0.4.0, which may change).

Things on top of my mind:
- API graduation plan (https://github.com/kubernetes-sigs/security-profiles-operator/issues/407)
- Initial metrics implementation (https://github.com/kubernetes-sigs/security-profiles-operator/issues/276)
- Replacing the namespaced operator deployment vari

[2021-04-26 14:59] saschagrunert commented on #418
cc @cmurphy @JAORMX @jhrozek @kubernetes-sigs/security-profiles-operator-maintainers

[2021-04-26 15:11] tshaiman commented on #413
i’m on the latest from yesterday

Sent from my iPhone

[2021-04-26 15:13] tshaiman commented on #413
1. i could not delete it even when no workload uses it yet.

2. what in case of the following scenario :
- create profile
- create workload
- delete workload / remove the seccomp from it

bug: the profile stil “thinks” there is workload and could not be deleted

Sent from my iPhone

[2021-04-26 20:11] tshaiman commented on #413
--below is the output from the 'kubectl describe profile' command , it had
ALL the node names (more than 40) as its finalizers , but in actual there
was not a single pod that used that profile YET !

Name:         aed-profile
Namespace:    my-ns
Labels:       <none>
Annotations:  <none>
API Version:  security-profiles-operator.x-k8s.io/v1alpha1
Kind:         SeccompProfile
Metadata:
  Creation Tim

[2021-04-27 10:16] tshaiman commented on #413
in addition I would like to note that the security-profile-operator itself
, cannot be removed and is hanging in "terminating" mode for few days :

[image: image.png]

On Mon, Apr 26, 2021 at 11:11 PM Tomer Shaiman ***@***.***>
wrote:

[2021-04-27 10:27] tshaiman commented on #413
another issue is that other pods , not related to Sec-comp cannot be
removed now and are sending the following error :

warning: Immediate deletion does not wait for confirmation that the running
resource has been terminated. The resource may continue to run on the
cluster indefinitely.
Error from server (InternalError): Internal error occurred: failed calling
webhook "binding.spo.io": Post "
http

[2021-04-27 11:42] JAORMX commented on #418
I'd like to achieve feature parity between Seccomp and Selinux profiles. e.g. being able to do bindings and recordings for SELinux profiles as we can with Seccomp profiles.

[2021-04-28 07:31] saschagrunert commented on #276
Follow-ups of #422:
- decide which metrics we would like to implement
- provide documentation around the feature
- add metric related e2e tests
- integrate controller-runtime metris: https://book-v1.book.kubebuilder.io/beyond_basics/controller_metrics.html (currently served on :8080 per default)
- secure the metrics via tls and authentication (maybe via an auth proxy or directly within the impleme

[2021-05-02 21:55] cmurphy commented on #244
/remove-lifecycle stale

[2021-05-03 18:19] jhrozek commented on #413
On Mon, Apr 26, 2021 at 08:13:56AM -0700, Tomer Shaiman wrote:

I don't think this is the case because I don't see either
.status.activeWorkloads or the 'in-use-by-active-pods' finalizer.

[2021-05-03 18:21] jhrozek commented on #413
On Mon, Apr 26, 2021 at 01:11:35PM -0700, Tomer Shaiman wrote:

This is expected. The node finalizers act as a guard so that the profile
object is not deleted until the seccomp profiles on individual nodes
are.

[...]

Hmm, I find it strange that there are no events, I would have expected
at least an event that says that the profile is installed..

[2021-05-03 18:22] jhrozek commented on #413
Would you mind tailing the logs of the SPO itself (the pod in the deployment) as well as one of the DS pods to see if any reports surface from there?

[2021-05-05 11:07] saschagrunert opened #439 "SELinux sanity check e2e test flakes"
The `_sanity_check` e2e test seems to fail randomly because of the following error:

[code]

[2021-05-05 20:59] cmurphy commented on #275
/remove-lifecycle stale

[2021-05-06 03:52] cmurphy commented on #244
/close

This was done in https://github.com/kubernetes-sigs/security-profiles-operator/pull/279 https://github.com/kubernetes-sigs/security-profiles-operator/pull/251 https://github.com/kubernetes-sigs/security-profiles-operator/pull/339

[2021-05-06 03:53] #244 closed

[2021-05-07 10:10] saschagrunert commented on #439
This may be already fixed by https://github.com/kubernetes-sigs/security-profiles-operator/commit/2406b5fbfb58559e70836492d07a07eab3188a82

[2021-05-11 07:56] saschagrunert opened #442 "Add liveness/startup probe for SELinux controller"
We introduced a startup and liveness probe for the seccomp controller in #430. The same should be now done for the SPOD SELinux controller by reusing the existing infrastructure.

Refers to #443

[2021-05-11 07:57] saschagrunert opened #443 "Add liveness/startup probe for Profile Recording controller"
We introduced a startup and liveness probe for the seccomp controller in #430. The same should be now done for the SPOD Profile Recording controller by reusing the existing infrastructure.

Refers to #442

[2021-05-11 07:57] saschagrunert commented on #443
/help

[2021-05-11 07:57] saschagrunert commented on #442
/help

[2021-05-12 09:07] jhrozek commented on #276
@saschagrunert We're interested in adding some metrics for the SELinux part. Would you prefer a separate ticket or just as part of this one. Of course we're going to do the work :-) I'm just asking about the issue.

[2021-05-12 09:50] saschagrunert commented on #276
Sure, let's do it as part of this issue, too. :+1:

[2021-05-18 16:39] pjbgf commented on #141
/remove-lifecycle rotten

[2021-05-18 16:50] pjbgf commented on #118
/remove-lifecycle stale

[2021-05-18 16:50] pjbgf commented on #65
/remove-lifecycle stale

[2021-06-02 10:47] saschagrunert opened #467 "Run log enricher as part of the daemon"
This allows us re-using the metrics endpoint from the daemon and create metrics for the log enrichment feature. Right now the enricher runs in a dedicated container:

https://github.com/kubernetes-sigs/security-profiles-operator/blob/12d2a6a26d06695506c81ebe5122a6d49ede4082/internal/pkg/manager/spod/bindata/spod.go#L357-L399

[2021-06-02 11:07] JAORMX commented on #467
@jhrozek @saschagrunert this would also be useful for selinux profile recording, as we could gather those audit logs and pass them to [udica](https://github.com/containers/udica) to add any missing rules to the generated profile.

[2021-06-09 07:26] jhrozek opened #476 "SELinux profile recording"
#### What would you like to be added:
A way for a workload to record a SELinux profile, like we record a seccomp profile

#### Why is this needed:
At the moment, users need to hand-craft SELinux profiles

#### User story covered
As an application developer, Ming would like to be able to automatically generate initial security profiles that are specific to the application.

[2021-06-09 07:27] jhrozek commented on #476
The proposal is to use Udica for the recording.

[2021-06-09 07:41] saschagrunert commented on #476
Sounds good to me, would recording via log-enrichment be an option, too?

[2021-06-09 08:02] JAORMX commented on #476
@saschagrunert udica is able to read the audit logs via the `--append` command line parameter. With those audit logs, it can fill any rules that were missed from the initial generation. So, the log-enrichment feature could be used to provide those logs to Udica.

[2021-06-10 09:52] #142 closed

[2021-06-14 06:54] saschagrunert commented on #369
/remove-lifecycle stale

[2021-06-21 13:38] saschagrunert commented on #467
Obsolete now

[2021-06-21 13:38] #467 closed

[2021-06-29 11:01] saschagrunert opened #510 "Recording profiles with the log enricher"
#### What would you like to be added:

It should be possible to record profiles by using the log enricher, while preserving a good usability.

#### Why is this needed:

Right now the operator supports recording profiles by using the `ProfileRecording` CRD as well as the OCI seccomp BPF hook. This requires CRI-O as well as the hook to be pre-installed and configured on every node running the record

[2021-06-29 13:44] jhrozek commented on #510
I think this would work well. I was thinking recently about the recording use-case for SELinux and I had a similar flow in mind.
Some comments inline -- they mostly focus on the SELinux case, so hopefully I'm not hijacking the ticket too much.

I would suggest two pieces actually: what kind of profile is to be recorded and using what mechanism.  The type could specify SELinux, seccomp (or in futur

[2021-06-29 13:46] jhrozek commented on #510
For the SELinux recording I had this in mind:
 - create a temporary permissive label for the workload
 - similar to how the audit seccomp profile is taken into account above in the webhook, take the temporary label into account
 - gather the AVC denials in the enricher
 - convert them into policy once the recording goes away

[2021-06-30 07:00] saschagrunert commented on #510
@jhrozek thank you for the input, I appreciate it!

What about the conflict between using the hook and the metrics recorder in parallel? Would it be safer to just allow one `ProfileRecorder` per object instance?

I think so, yes. My concern was about the "how to ship the profile"? So, do we want to:
- add the logging profile to our default deployment?
- create/update the profile right before the r

[2021-06-30 12:44] saschagrunert commented on #510
Working on a PoC in https://github.com/kubernetes-sigs/security-profiles-operator/pull/513

[2021-06-30 13:24] jhrozek commented on #510
Hmm, I was trying to allow recording both seccomp and selinux in the same go. I guess we could either disallow recording the same profile type with different recorders or just ask the user to use two recordings.

Yes, that was my idea (in other words: I couldn't see any downside, seems easiest)

[2021-07-02 10:19] saschagrunert opened #516 "Verify that audit.log rotation does not break the enricher"
In some cases the enricher stopped working when the auditd logs got rotated on the local node. We should verify that this is still the case and fix the issue if it exists.

[2021-07-02 15:00] jhrozek commented on #516
This still happens:
[code]
the timestamp corresponds to the time my audit.log was rotated:
[code]

I'll try to poke at the bug.

[2021-07-02 15:00] jhrozek commented on #516
/assign

[2021-07-02 16:05] jhrozek commented on #476
/assign jhrozek

[2021-07-02 17:26] #516 closed

[2021-07-15 15:50] jmcshane commented on #413
I'm running into the same issue on EKS. I can provide some debug information from my installation. I've tried reinstalling the security-profiles-operator to ensure the finalizer can complete, but unfortunately the cluster appears to be completely stuck.

[2021-07-16 07:14] saschagrunert commented on #413
Yeah @jmcshane some log as @jhrozek mentioned would be good and a reproducer if possible.

[2021-07-16 09:07] saschagrunert commented on #510
This is done :upside_down_face:

[2021-07-16 09:07] #510 closed

[2021-07-16 14:13] jmcshane commented on #413
ok @saschagrunert, i figured out my problem. since i had deleted the operator, i manually removed the finalizer on the CRD objects to allow them to delete. this allowed me to get my cluster back to the previous state.

definitely had to review the uninstall docs before uninstalling: https://github.com/kubernetes-sigs/security-profiles-operator/blob/master/installation-usage.md#uninstalling

I don'

[2021-07-19 07:07] saschagrunert commented on #413
Thank you for the clarification @jmcshane? Feel free to provide further input if the issue or something similar occurs again. :blush:

[2021-07-22 10:10] jhrozek commented on #476
Started working on this (with some pauses due to summertime vacations..) and realized I never updated the initial high-level plan..so going to drop the current plan here in case someone wants to stop me.

After a bit of research and experimentation, I don't think we need (or want..) to use udica for the recording itself. The [parsing logic](https://github.com/containers/udica/blob/main/udica/parse

[2021-07-22 11:40] saschagrunert commented on #276
This is done for now.

[2021-07-22 11:40] #276 closed

[2021-07-27 06:42] saschagrunert commented on #418
/remove-lifecycle stale

[2021-07-28 07:31] #223 closed

[2021-08-04 07:27] saschagrunert commented on #275
/remove-lifecycle stale

[2021-08-05 12:08] saschagrunert commented on #439
I think it's fixed

[2021-08-05 12:08] #439 closed

[2021-08-18 10:29] JAORMX commented on #199
I think we can close this, we have no concrete use-cases really.

[2021-08-18 10:29] #199 closed

[2021-08-20 19:39] pjbgf commented on #65
/remove-lifecycle stale

[2021-08-20 19:40] pjbgf commented on #118
/remove-lifecycle stale

[2021-09-08 12:00] jhrozek commented on #443
/remove-lifecycle rotten

[2021-09-08 12:00] jhrozek commented on #442
/remove-lifecycle rotten

[2021-09-09 12:30] jhrozek opened #586 "Finding container ID never skips over a faulty container"
#### What happened:
If a pod is in some sort of an error state, the part of enricher that finds a container ID for a pod never skips over that faulty container and on retries just tries to read the container ID of that container again.

#### What you expected to happen:
The loop should probably jump over that faulty pod and return errContainerIDEmpty only if no other containers match.

#### How to

[2021-09-09 13:08] saschagrunert commented on #586
@jhrozek are you working on this? Maybe we have some information to filter within the container statuses.

[2021-09-09 14:48] jhrozek commented on #586
Not (yet), but I noticed the bug while I am working on the SELinux recording. I think your idea is good, so I'm fine tackling the issue unless you wanted to, otherwise feel free to just send a PR and I'll review.

[2021-09-09 14:54] saschagrunert commented on #586
Sounds good, thank you!

[2021-10-04 11:13] #476 closed

[2021-10-04 15:43] jhrozek opened #608 "The SELinux recording tests are too basic"
#### What happened:
Only one pod recording is included as an e2e test for the SELinux recording feature

#### What you expected to happen:
We need better tests. As a minimum, we should include a multi-container and a deployment test, to have the same coverage as the seccomp recording tests

#### How to reproduce it (as minimally and precisely as possible):
run the e2e tests

#### Anything else we

[2021-10-04 15:43] jhrozek commented on #608
/assign jhrozek

[2021-10-05 11:40] jhrozek opened #609 "SELinux recording metrics are missing"
#### What happened:
The SELinux recording feature, especially in the enricher in missing metrics.

#### What you expected to happen:
We should mirror the seccomp code path and have metrics

#### How to reproduce it (as minimally and precisely as possible):
record a selinux profile

#### Anything else we need to know?:
N/A

#### Environment:
N/A

[2021-10-05 11:40] jhrozek commented on #609
/assign jhrozek

[2021-10-15 09:01] saschagrunert opened #613 "Release 0.4.0"
Tracking the issues for the next release, feel free to link anything if you'd like to have them included before we cut 0.4.0.

[2021-10-15 09:01] #418 closed

[2021-10-21 08:17] vaibhav2107 opened #617 "Link not working in release.md"
In https://github.com/kubernetes-sigs/security-profiles-operator/blob/master/release.md
The link in the line

 gives error.

[2021-10-25 08:06] #617 closed, assigned to sandipanpanda

[2021-10-26 20:19] jhrozek opened #623 "e2e: The SPOD:_Update_SELinux_flag test is flaky"
#### What happened:
The `SPOD:_Update_SELinux_flag` test fails often.

#### What you expected to happen:
The test should be stable

#### How to reproduce it (as minimally and precisely as possible):
Not 100%. Mostly fails in CI, I've only seen the failure locally a couple of times and didn't catch it sadly.

#### Anything else we need to know?:
I'm mostly filing this issue to remind myself to try

[2021-10-27 17:57] vaibhav2107 opened #625 "Path to prow tests mention in Contributing file is incorrect"
In Contributing.md, the section **Where the CI Tests are configured**
 `Note that the prow tests used in the CI are configured in kubernetes-sigs/seccomp-operator/seccomp-operator-presubmits.yaml.`
has incorrect path to prow tests.

[2021-10-28 07:27] #625 closed, assigned to vaibhav2107

[2021-11-02 08:01] saschagrunert commented on #275
/remove-lifecycle stale

[2021-11-09 22:06] pjbgf opened #653 "Improve visibility of SPO's security posture"
#### What would you like to be added:

This is a grouping issue to track the different actions around improving and documenting SPO's security posture.

- [ ] Review gaps from the [OpenSSF scorecard](https://github.com/ossf/scorecard)
  - [x] Branch-Protection #660
  - [x] CII-Best-Practices
  - [ ] Fuzzing
  - [x] Pinned-Dependencies
  - [x] Signed-Releases
  - [x] Token-Permissions #737
- [x] Do

[2021-11-09 23:26] pjbgf commented on #409
I like the idea, it may be worth pursuing something that also benefits the project.

Thoughts on maybe doing this for [cert-manager](https://github.com/jetstack/cert-manager)?

[2021-11-10 14:51] pjbgf opened #660 "ossf scorecard: Branch-Protection"
#### Description:

This issue is to drive discussion around the ossf scorecard results for the [Branch-Protection] section. This is part of improving the project's security posture #653.

The [Branch-Protection] section of the ossf scorecard highlights the hardening recommendations for GitHub branches. Some of them may conflict with parts of our CI/CD automation, which may mean we won't be able to

[2021-11-10 15:10] pjbgf commented on #660
@saschagrunert here's my views/questions on the 6 points:

1. I can't think of any issues enabling linear history for the master branch. What do you think?
2. This is a `false positive`, as status checks are enabled for `master`. No action required here.
3. The state dismissal can be a problem for us whilst we have some long running/flake tests. I think we could keep as is and review it after furt

[2021-11-10 15:16] saschagrunert commented on #660
We already have it enabled, right? :)

Agree :+1:

About which kind of dismissal are we speaking about here? Something like the integration of a stale bot?

We could give it a try! :)

[2021-11-10 15:19] saschagrunert commented on #660
@pjbgf changed the branch protection rule for `master`, let's see what it breaks.

[2021-11-10 15:31] jhrozek commented on #409
Because I'm now working on "productizing" SPO for OpenShift, I have started doing the work for one of OpenShift's operators, namely Cluster-Logging-Operator.

Do you think cert-manager needs much locking down? I've only used it from the user perspective and not even looked at the security properties of its pods, so this is a genuine question. I choose Cluster Logging Operator in OpenShift because

[2021-11-11 10:22] pjbgf commented on #409
That sounds good. The more profiles we get out there the better to be honest.

As for `cert-manager`, I don't think it inheritly needs more locking down than other profiles. However, having a stable apparmor/selinux/seccomp profiles for such work load makes it easier to detect behaviour anomalies through audit logs, which could decrease the time to identify (and potentially the impact) of their su

[2021-11-11 10:24] pjbgf commented on #660
@saschagrunert nice one, let's hope it all works out.

By the way, the linear history for master branch still shows as disabled for me:
![image](https://user-images.githubusercontent.com/5452977/141281694-e9d80783-d18d-45be-95e6-d5dbcfa03d82.png)

So we are probably not refering to the same thing. :)

[2021-11-11 10:27] jhrozek commented on #660
On Thu, Nov 11, 2021 at 02:24:22AM -0800, Paulo Gomes wrote:

But we don't have those horrible merge commits that GH uses by default
for whatever silly reason. Isn't that it?

[2021-11-11 10:28] saschagrunert commented on #660
@pjbgf I changed it to require a linear history.

It looks like that the other options from the branch protection were gone, so I hope that there is nothing like a nightly sync which enforces a certain branch protection ruleset within this org.

[2021-11-12 17:27] marcredhat opened #667 "Add validating and admission plug-ins as requirements in the documentation. They are enabled by default in OpenShift but not in RKE2."
#### What happened:
Default validating and admission plug-ins are enabled in OpenShift Container Platform 4.7.
https://docs.openshift.com/container-platform/4.7/architecture/admission-plug-ins.html#validating-admission-plug-in_admission-plug-ins

For RKE2, --enable-admission-plugins= in kube_apiserver_extra_args  is needed as shown at https://gist.github.com/marcredhat/e0a18623c9bf465243eab1871bcd

[2021-11-12 18:55] marcredhat opened #668 "failed to set /proc/self/attr/keycreate"
#### What happened:
Running into https://github.com/docker/for-linux/issues/983
on RHEL 8.3 nodes

dnf list --installed | grep container-selinux
container-selinux.noarch            2:2.167.0-1.module_el8.4.0+942+d25aada8 @appstream

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):
**cat profilerecording.yaml**
[code]

**cat workload.yaml**
[code

[2021-11-14 20:10] jhrozek commented on #668
Can you check what SELinux context has the pod being recorded assigned?
Does the context exist on the machines (semodule -l | grep ...)

[2021-11-14 20:11] jhrozek commented on #668
two more things:
if the context exists, do also the contexts it inherits from (blockinherit) exist?

do you have access to any 8.4 or newer based systems? Does it also happen there?

[2021-11-14 20:19] jhrozek commented on #667
Would you mind opening a PR against the installation and usage MD document?

[2021-11-15 21:32] jhrozek commented on #668
Oh and if the policy file exists on the machine but is not installed (and therefore not visible though semodule -l) then checking what does (semodule -i <path/to/module>) say would be interesting.

[2021-11-15 21:41] jhrozek opened #672 "Consider restricting webhook namespaces to a subset"
#### What would you like to be added:
At the moment, our webhooks affect all namespaces. It would be nice if we could restrict the webhooks to a subset of namespaces instead. This could be done in the manifests only, by taking the namespaceSelector and/or objectSelector into use.

#### Why is this needed:
I think that unless the administrator explicitly says so, mutating webhooks shouldn't affect

[2021-11-16 19:18] saschagrunert opened #676 "Rename `master` to `main`"
#### What would you like to be added:

Changing the default branch name to `main`.

#### Why is this needed:

Following a general rule of inclusion. We’re now at a point of stabilization of the APIs and I think it’s not harmful if we change the branch name at this point.

#### User story covered

None

[2021-11-16 20:46] jhrozek opened #677 "recording of replicated pods should contain the union of the recorded policies"
#### What happened:
Recording of a replicated pod creates a policy per replica. Depending on what does each replica do during the recording, each policy might be a bit different with no easy way to merge the policies other than manually.

#### What you expected to happen:
Because the pods managed the replicating controller, be it a Deployment, a DeamonSet or a ReplicaSet should be interchangeable,

[2021-11-16 20:46] jhrozek commented on #677
I'm going to try tackling this
/assign

[2021-11-23 01:14] marcredhat opened #686 "Some steps to generate and apply SELinux policies are missing from current documentation"
Some steps to generate and apply SELinux policies are missing from current documentation

Added a step-by-step demo with SELinux to
https://github.com/marcredhat/ocplibvirt/blob/main/README.md

It covers everything from
setting up OpenShift on libvirt to
deploying the Security Profiles Operator and a sample app
creating an SELinux RecordingProfile
applying the generated SELinux policy
checking on

[2021-11-24 11:43] JAORMX opened #689 "Add OpenShift deployment manifest"
#### What would you like to be added:

We should have a `deploy/openshift.yaml` deployment manifest that easily allows folks to deploy this on OpenShift.

#### Why is this needed:

We currently have two deployment manifests:

* `deploy/operator.yaml`
* `deploy/namespace-operator.yaml`

These allow folks to deploy the operator on vanilla kubernetes with a couple of different configurations (cluster

[2021-11-24 16:54] jhrozek commented on #608
This was fixed in 139be10df3552a534945328e36f27b28adf522ab and 33e01bfa7ce4ef567df9b42ae9600572a0f404fd

[2021-11-24 16:54] #608 closed

[2021-11-24 17:00] jhrozek opened #691 "Developer documentation"
#### What happened:
There is no documentation for developers on how to run our tests on different platforms or onboard a new platform to CI. It's there in the code (GH actions workflows, e2e tests), but not summarized except in a generic way in CONTRIBUTING.md.

#### What you expected to happen:
A document telling a developer:
 - how to run the operator locally or using a local cluster with modifi

[2021-11-25 11:34] #689 closed

[2021-11-25 13:46] jhrozek opened #699 "selinuxd SELinux policy is broken for CentOS-based selinuxd deployments"
#### What happened:
We test selinuxd with SELinux enabled and its own label in our fedora e2e tests, but then the openshift deployment uses CentOS based images for selinuxd. Because selinuxd calls out to libsemanage and is not totally statically linked, its behaviour is dependent on what platform it is running on.
And it seems that the policy works fine for Fedora-based images (as seen in our fedo

[2021-11-25 17:50] JAORMX commented on #676
We already use `main` by default in selinuxd 😃

[2021-11-26 18:51] #676 closed

[2021-11-29 13:55] #699 closed

[2021-11-30 09:08] pjbgf commented on #118
Initial support done via #680

[2021-11-30 09:08] #118 closed

[2021-11-30 09:23] pjbgf opened #718 "AppArmor MVP"
#### What would you like to be added:

High-level issue to capture outstanding items for AppArmor's MVP.
Targeting release https://github.com/kubernetes-sigs/security-profiles-operator/issues/613.

- [ ] https://github.com/kubernetes-sigs/security-profiles-operator/issues/1491
- [x] Documentation (Usage, Requirements, Examples)
- [x] https://github.com/kubernetes-sigs/security-profiles-operator/pu

[2021-11-30 10:22] #408 closed

[2021-11-30 10:42] saschagrunert commented on #443
I don't think we have to setup probes for this controller. Right now we have no indication that the controller is running but not working as expected.

[2021-11-30 10:42] #443 closed

[2021-11-30 13:00] saschagrunert opened #725 "Verify up-to-date dependencies for 0.4.0"
Let's ensure that everything is up-to-date before releasing a new version.

[2021-12-01 10:27] pjbgf commented on #653
For visibility, here's the current OpenSSF scorecard:
![image](https://user-images.githubusercontent.com/5452977/144217858-151d641a-d7f4-4350-8769-16459b1ee0d4.png)

[2021-12-01 10:45] pjbgf opened #733 "Improve release process to support security patches"
#### What would you like to be added:

Simpler process to release minor versions for patching security advisories.

#### Why is this needed:

Providing security patches in a faster pace allows for our users to have a short exposure window to potential CVEs contained within SPO's dependencies.

An additional constraint at present is that by creating a `0.3.1` version, it disrupts the changelog gene

[2021-12-01 13:57] jhrozek commented on #442
Addressed by https://github.com/kubernetes-sigs/security-profiles-operator/commit/9679758aa1157e5bd674bed4d96dcd21dacee806

[2021-12-01 13:58] jhrozek commented on #442
Hmm for some reason I don't see the close button, but this issue can be considered done.

[2021-12-01 13:59] saschagrunert commented on #442
@jhrozek you should be able to do
/reopen

[2021-12-01 14:00] saschagrunert commented on #442
/close

[2021-12-01 14:00] #442 closed

[2021-12-01 15:26] saschagrunert commented on #725
Done in https://github.com/kubernetes-sigs/security-profiles-operator/pull/734, https://github.com/kubernetes-sigs/security-profiles-operator/pull/723, https://github.com/kubernetes-sigs/security-profiles-operator/pull/728, https://github.com/kubernetes-sigs/security-profiles-operator/pull/726, https://github.com/kubernetes-sigs/security-profiles-operator/pull/724

[2021-12-01 18:07] pjbgf commented on #660
Will keep on until changes can be manually confirmed.

[2021-12-01 18:09] pjbgf commented on #660
@jhrozek sorry missed your message here. But I also did not understand exactly what do you mean here, can you clarify please?

[2021-12-01 18:30] pjbgf commented on #653
The `CII-Best-Practices` has been completed today and the project has given the `passing status` as it can be seen [here](https://bestpractices.coreinfrastructure.org/en/projects/5368).

The only caveat here is around fuzzing of memory-unsafe languages. Currently the only scope for this is the eBPF implementation. Given its experimental nature, I tagged it as `N/A`. Once this feature stabilises an

[2021-12-01 18:44] saschagrunert opened #736 "Do memory and CPU benchmark"
Benchmarking the SPOD containers with a manual test and adjust the resources accordingly before doing the release.

[2021-12-01 18:45] saschagrunert commented on #736
I’ll do the BPF recorder first tomorrow.

[2021-12-01 19:08] pjbgf commented on #660
After a delay the changes were applied:

![image](https://user-images.githubusercontent.com/5452977/144297673-0a180bf4-92ac-495d-83ef-d4cca2b74e08.png)

![image](https://user-images.githubusercontent.com/5452977/144297703-5d73416f-0eeb-47fd-b4f7-e4d93814cbef.png)

Let's keep an eye in the comming days as to the impact this may have.
Closing it for the time being.

[2021-12-01 19:08] #660 closed

[2021-12-01 19:59] jhrozek commented on #660
No problem,  I probably meant something else than you, Sascha and the scorecard meant. I thought we already did have linear history because I don't see merge commits in SPO like I see e.g. in selinuxd (https://github.com/containers/selinuxd/commits/main)

[2021-12-02 09:52] saschagrunert commented on #736
bpf recorder results while doing a test with 10 and later with 50 pod recordings in parallel on 3 worker nodes:
![screenshot](https://user-images.githubusercontent.com/695473/144398525-da5c73d7-957b-4d9e-9680-c05e11fee144.png)

Looks like our current memory restrictions are good enough:
https://github.com/kubernetes-sigs/security-profiles-operator/blob/main/internal/pkg/manager/spod/bindata/spod.g

[2021-12-02 11:38] pjbgf commented on #653
Note to self: stop marking PR as `partially fixes`.

[2021-12-02 13:03] jhrozek opened #744 "The recording webhook's resource updating is racy"
#### What happened:
I deleted pods in a deployment to trigger recording a policy and saw:
[code]

#### What you expected to happen:
No errors

#### How to reproduce it (as minimally and precisely as possible):
 - create a profilerecording
 - create a largish deployment (I managed to reproduce with about ~50 pods) matching the profilerecording
 - kubectl delete the pods in the deployment

#### Anyt

[2021-12-06 16:09] saschagrunert commented on #725
Closing, I think we're good to go.

[2021-12-06 16:09] #725 closed

[2021-12-07 15:13] saschagrunert commented on #736
Did a 10 minute test with 50 pods recordings via the log enricher, the new memory values seems to pay out:
![screenshot](https://user-images.githubusercontent.com/695473/145055181-bec0a1dc-63be-4018-a706-793e0dcd45fa.png)

[2021-12-07 15:13] saschagrunert commented on #736
@jhrozek I'm done with testing, feel free to reopen if you see anything left open.

[2021-12-07 15:13] #736 closed

[2021-12-07 21:24] jhrozek commented on #736
On Tue, Dec 07, 2021 at 07:13:54AM -0800, Sascha Grunert wrote:

The only thing I found on my side is the webhook race which is already
filed an a selinuxd memory leak for which I still
don't have a patch. Looks like most of the issues were triggered by
seccomp due to the bigger size of the logs..

[2021-12-07 22:54] k8s-triage-robot opened #754 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 04:27] justaugustus commented on #754
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:27] #754 closed

[2021-12-08 22:55] k8s-triage-robot opened #759 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 03:03] justaugustus commented on #759
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 03:03] #759 closed

[2021-12-09 12:26] timoschwarzer opened #760 "Cannot apply operator manifests in K3s 1.22.3+k3s1"
#### What happened:
Trying to apply the operator fails to create the SeccompProfile CRD with an error:

[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):
[code]

#### Anything else we need to know?:
-/-

#### Environment:

- Cloud provider or hardware configuration: 3 bare metal worker nodes, 1 server node
- OS (e.g: `cat /etc/os-release`

[2021-12-09 12:50] saschagrunert commented on #760
@timoschwarzer is it correct that this is an upgrade scenario?

[2021-12-10 05:12] timoschwarzer commented on #760
@saschagrunert I tried both upgrading and deleting the whole namespace before applying, neither of which worked.

[2021-12-10 08:08] saschagrunert commented on #760
Can you please try to explicitly remove the CRD? This is not part of the namespace but available on a cluster level.

[2021-12-10 13:29] timoschwarzer commented on #760
@saschagrunert Thank you for the suggestion! Removing the finalizer from the CRD and deleting it before applying the new manifest indeed fixed the problem.

[2021-12-10 13:40] saschagrunert commented on #760
@timoschwarzer I think we still have an upgrade path problem here.

@pjbgf @jhrozek @JAORMX do you think we have to address this before 0.4.0?

[2021-12-10 14:27] jhrozek commented on #760
On Fri, Dec 10, 2021 at 05:40:19AM -0800, Sascha Grunert wrote:

Do we know what the issue is? Would we need a conversion webhook?

[2021-12-10 15:09] saschagrunert commented on #760
Yes I think so.

[2021-12-11 05:03] pjbgf commented on #760
Probably a nice to have, so let's target it for v0.4.0 (https://github.com/kubernetes-sigs/security-profiles-operator/issues/613). In the meantime will keep this issue open.

[2021-12-13 10:27] saschagrunert commented on #613
The release notes:

[code]

[2021-12-14 09:56] saschagrunert commented on #613
This is done!
/close

[2021-12-14 09:56] #613 closed

[2021-12-15 16:37] pjbgf commented on #653
Although the upstream card changed its format, we can still see the impact of the recent PRs.
Before we were failing in 4 out of 8 categories, now we are scoring 8.6/10. :tada:

![image](https://user-images.githubusercontent.com/5452977/146226637-b55045bf-2cd1-4047-be78-56b8782c522e.png)

[2022-01-04 10:37] pjbgf commented on #141
/remove-lifecycle stale

[2022-01-08 07:39] pjbgf commented on #65
The issue upstream (https://github.com/kubernetes/kubernetes/issues/97273) has now been fixed (thanks to @saschagrunert), which is yet to be released on a new version.
A non "kube-native" approach may need to be taken to sandbox SPO's components that would work for all currently supported Kubernetes versions.

[2022-01-10 08:14] saschagrunert opened #779 "Bring the SPO to operatorhub.io"
#### What would you like to be added:
Adding the operator to [Operator Hub](https://operatorhub.io/) to automate the lifecycle of the operator when installed in OpenShift.

#### Why is this needed:

It would be a good addition to spread the usage of the operator while making its installation and upgrade easier.

#### User story covered

None so far.

[2022-01-10 08:16] saschagrunert commented on #609
/remove-lifecycle stale

[2022-01-10 08:16] saschagrunert commented on #407
/remove-lifecycle stale

[2022-01-10 08:16] saschagrunert commented on #369
/remove-lifecycle stale

[2022-01-10 08:16] saschagrunert commented on #201
/remove-lifecycle stale

[2022-01-10 08:18] saschagrunert commented on #65
@pjbgf I assume we prefer the kube-native way? Would it be possible to apply the profile only on specific kubernetes versions by  checking it before deploying the daemon?

[2022-01-10 17:42] chrisns opened #780 "Docker-desktop | podman-machine + kind|k3d|minikube support for profile recording"
👋
I don't appear to be able to get the profile recorder to work with docker-desktop or podman machine in combination with [kind](https://kind.sigs.k8s.io/)|[k3d](https://k3d.io/)|[minikube](https://minikube.sigs.k8s.io/) (minikube using --driver podman|docker)

I *think* the issue is the lack of syslog/auditd running in the host vm, and then maybe something to do with correlating between pid names

[2022-01-11 08:19] saschagrunert commented on #780
Thank you for opening the issue, I'm happy to look into it but I'm lacking Apple hardware to give it a test. I assume it's not possible to export the docker machine VM to a kvm or virtualbox compatible format, isn't it?

---

About the log enricher issue:
- the enricher should fallback to syslog messages if auditd is not available, see: https://github.com/kubernetes-sigs/security-profiles-operator

[2022-01-11 09:19] chrisns commented on #780
exporting, not sure, podman machine has the same issue, is a different vm, but is fedora core 35 which is probably a bit easier to reproduce and inspect

1. yes, in the podman/docker-desktop vm neither syslog/klog/auditd are running, so i'm running it in a container
1. can't make auditd run in the nested cluster, complains about not being able to set the pid, i think this is a common error, will r

[2022-01-22 17:14] tshaiman opened #785 "Seccomp Profile is not deleted even when there are no pods using it"
#### What happened: Followed the Seccomp profile tutorial as its presented in the Getting Started Page.
After deleting the demo pod and the Seccomprofile , pods got deleted but the seccomprofile hangs in terminating state forever.
there are not workloads on the Cluster using that Profile ( simple AKS demo cluster)

#### What you expected to happen:
- kubectl delete Seccomprofile should delete the

[2022-01-24 08:30] saschagrunert commented on #785
Hey @tshaiman, thank you for reporting this issue. I have access to azure and created a cluster like this:

[code]

Unfortunately, this worked for me:

1. `kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v1.6.1/cert-manager.yaml`
2. `kubectl apply -f https://raw.githubusercontent.com/kubernetes-sigs/security-profiles-operator/main/deploy/operator.yaml`
3. Apply the prof

[2022-01-29 11:32] tshaiman commented on #785
@saschagrunert : correct, I could not reproduce it any longer , neither on neither my AKS clusters.
I will close this and If I will be able to reproduce will re-send all the information

[2022-01-29 11:32] #785 closed

[2022-01-29 19:11] tshaiman opened #795 "enabling eBPF Recorder on AKS crashes SPOD containers"
following @saschagrunert  excellent tutorial [here](https://developers.redhat.com/articles/2021/12/16/secure-your-kubernetes-deployments-ebpf#what_is_the_security_profiles_operator_)  , I have called the method :

`kubectl patch spod spod --type=merge -p '{"spec":{"enableBpfRecorder":true}}'`

which eventually led to the following output on the bpf-recorder container :

- Cloud provider or hardwar

[2022-01-31 09:52] saschagrunert commented on #795
I can reproduce it and we probably should update libbpf and the vendored btf to see if that fixes the issue.

[2022-01-31 10:54] saschagrunert commented on #795
Did a test with https://github.com/kubernetes-sigs/security-profiles-operator/pull/796 and it does not work, because:

- we usually fallback to the in-memory btf (which is now available within that patch) if no vmlinux is exposed. The vmlinux file is available on the azure node, so it should work in theory with that file.
- forcing it to use the in-memory btf fails with the same error

That's odd,

[2022-01-31 11:10] tshaiman commented on #795
great , i’m grateful for the time you invested in that

LMK if more checks / changes are needed from my end .

Tomer

On Mon, 31 Jan 2022 at 11:52 Sascha Grunert ***@***.***>
wrote:

--
Sent from Gmail Mobile

[2022-01-31 11:16] saschagrunert commented on #795
@tshaiman can you share the configuration flags how the kernel has been built? Ubuntu 18.04 does not expose `/sys/kernel/btf/vmlinux` per default.

[2022-01-31 13:50] saschagrunert commented on #795
When trying the llvm-bootstrap demo application: https://github.com/libbpf/libbpf-bootstrap/blob/master/examples/c/bootstrap.c

Then I'm getting the same error on an azure node (I disabled the failure on `RLIMIT_MEMLOCK` increasing):
[code]

[2022-01-31 15:38] jhrozek commented on #275
/remove-lifecycle stale

[2022-02-01 10:25] saschagrunert opened #799 "Release v0.4.1"
There are a couple of fixes part of the new release, so we probably should get it out sooner than later.

[2022-02-01 12:42] saschagrunert commented on #780
@chrisns can we close this one or do you wanna keep it open until the next release?

[2022-02-01 12:43] chrisns commented on #780
How long till the release where this is 'real'?

[2022-02-01 12:46] saschagrunert commented on #780
This week is my target goal. :)

[2022-02-01 12:53] chrisns commented on #780
cool! either close or keep open if it helps motivate towards that goal 😉
cheers 👍

[2022-02-01 13:12] saschagrunert commented on #799
Release notes:

[code]

[2022-02-01 21:59] tshaiman commented on #795
@saschagrunert  : I don't have insights on how the kernel was built as I'm not part of the AKS team.

[2022-02-02 08:19] saschagrunert commented on #795
Maybe we can open an issue in their tracker to describe the problem there?

[2022-02-04 19:39] tshaiman commented on #795
@saschagrunert  : done
https://github.com/Azure/AKS/issues/2768

[2022-02-07 09:31] saschagrunert commented on #799
Done https://github.com/kubernetes-sigs/security-profiles-operator/releases/tag/v0.4.1

[2022-02-07 09:31] #799 closed

[2022-02-10 12:48] jhrozek commented on #691
/assign

[2022-02-11 12:38] #691 closed

[2022-02-14 12:49] jhrozek commented on #672
/remove-lifecycle stale

[2022-02-17 09:28] jhrozek commented on #677
/remove-lifecycle stale

[2022-02-17 10:33] saschagrunert commented on #795
Still the same with the latest Azure deployment.

[2022-02-17 13:38] pjbgf commented on #409
/remove-lifecycle stale

[2022-02-17 13:57] tshaiman commented on #795
you as I still see the bug here : https://github.com/Azure/AKS/issues/2768 is still open . I send a ping/reminder on the ticket

[2022-02-23 20:34] jhrozek commented on #779
Hmm, OK, I started playing with the refactoring and I think we wouldn't have to touch the code itself much if at all. What the tools that generate bundles really care about are the APIs and the manifests. So if we moved the api structure to the one that matches kubebuilder's and moved manifests from deploy to config, that /should/ be it. I'll try to make some simple protorype, even if it didn't pa

[2022-02-24 06:46] JAORMX commented on #779
This is nice! Having this distributed through some means would sure make it easier. Having a Helm option would be nice too, since that's what most folks use.

[2022-02-24 08:14] saschagrunert commented on #779
@jhrozek thank you for working on this! Feel free to propose the changed project layout in a PR, I guess most of the things should be fine.

@JAORMX I'm not opposed to add Helm support as well :+1:

[2022-03-02 16:39] jhrozek commented on #744
/remove-lifecycle stale

[2022-03-05 18:10] tshaiman commented on #795
still pending on AKS, i have reminded them many times .
ps it could be related to
https://github.com/Azure/AKS/issues/2827

[2022-03-09 11:54] JAORMX opened #825 "Seccomp: Automated base profile generation"
# Context

As container tooling evolves and more releases happen for the base tooling, we'll need to keep track by also shipping base profiles that match this. We do ship base profiles for `runc` and `crun`, however, in order to keep the tool relevant, we need to keep shipping newer versions of these profiles. In order to do this in a sustainable manner, we should resort to automated means to gene

[2022-03-09 11:55] JAORMX commented on #825
@saschagrunert @jhrozek @pjbgf ideas for this are welcome

[2022-03-09 11:57] saschagrunert commented on #825
Sounds like a great idea to me. The bpf recorder should be able to handle that in one of the test VMs (Fedora or Ubuntu).

[2022-03-09 15:08] JAORMX commented on #825
@saschagrunert do you have a reference of how you did the ones that are currently in the repo?

[2022-03-09 16:14] saschagrunert commented on #825
We could use this vagrantfile as a base: https://github.com/kubernetes-sigs/security-profiles-operator/blob/main/hack/ci/Vagrantfile-ubuntu

And integrate it in the same way we run the e2e tests:
https://github.com/kubernetes-sigs/security-profiles-operator/blob/721f81289a06d5f6a7c340f430a512189193cf8b/.github/workflows/test.yml#L98-L126

The CRI-O installation script already installs runc and cru

[2022-03-15 20:35] holyspectral commented on #795
Can reproduce this issue on GKE cos nodes too.  Error logs:
[code]

[2022-03-15 20:39] holyspectral commented on #795
Not related to GKE, but maybe [BTF Hub](https://github.com/aquasecurity/btfhub-archive/tree/main/ubuntu/18.04/x86_64) can help with the AKS case?

[2022-03-16 08:55] saschagrunert commented on #795
AKS already exposes `/sys/kernel/btf/vmlinux` which should contain the correct BTF information. I think I tried manually using the internally provided BTF, but this had the same effect.

[2022-03-21 07:51] pjbgf commented on #653
/remove-lifecycle stale

[2022-03-23 00:03] helenabutowatcisco opened #858 "Unable to create ResourceQuota for SecurityProfilesOperatorDaemon"
#### What happened:
Tried to create a ResourceQuota for instance of the SecurityProfilesOperatorDaemon CRD. Instead, the following error was returned:
[code]

#### What you expected to happen:
The ResourceQuota is created.

#### How to reproduce it (as minimally and precisely as possible):
`kubectl create -f` the following:
[code]

#### Anything else we need to know?:
Could a shorter name be used

[2022-03-23 14:29] jhrozek commented on #858
I guess the short name `spod` can't be used here?

[2022-03-23 16:52] helenabutowatcisco commented on #858
Correct. Both of these variants will allow a ResourceQuota to be created but it doesn't result in a quota that's enforced:
[code]

[2022-03-23 18:33] saschagrunert commented on #858
I think spod is fine, good catch @helenabutowatcisco!

[2022-03-26 21:01] #623 closed

[2022-04-01 08:35] brness opened #878 "Failed to load Seccomp Profile"
#### What happened:
According to the installation usage, I can set up the SeccompProfile in each of my node, but when it comes to the step of set up the Pod, it stuck in a CreateContainerError state, here is the description
`Error: failed to generate security options for container "test-container": failed to generate seccomp security options for container: cannot load seccomp profile "/var/lib/kub

[2022-04-01 08:56] saschagrunert opened #879 "Release 0.4.2"
Planned for the next couple of days.

[2022-04-01 08:58] jhrozek commented on #672
/assign
I have a WIP patch

[2022-04-01 10:03] saschagrunert commented on #879
Release notes:

[code]

[2022-04-02 08:13] brness commented on #878
BTW, what's the meaning of doing a sysmlink of the profile? why not just create a file path /var/lib/kubelet/seccomp/operator?

[2022-04-05 10:21] jhrozek opened #885 "Not all CRs have an example annotation in the bundle"
#### What happened:
I noticed this while working on the operatorhub submission: Not all CRs have an example annotation defined in the CSV. This will get also caught in scorecard tests, although I don't think it's such a huge deal.

#### What you expected to happen:
To make sure the CSV is well-formed, all CRs should have an example annotation

#### How to reproduce it (as minimally and precisely a

[2022-04-06 12:00] #672 closed

[2022-04-06 23:40] Vincent056 opened #887 "Reduce code duplication in workloadannotator"
We added support for SELinux profile binding:https://github.com/kubernetes-sigs/security-profiles-operator/pull/854

However, there are some code duplications in
 https://github.com/kubernetes-sigs/security-profiles-operator/blob/de3017ad869867efb9743a1c387398e7741fd3cc/internal/pkg/manager/workloadannotator/workloadannotator.go#L200

Since we will also add profile binding in the future for AppArm

[2022-04-06 23:41] Vincent056 commented on #887
/assign Vincent056

[2022-04-07 03:30] longpi1 commented on #413
I also have this problem. Is there any way to solve it

[2022-04-07 03:45] longpi1 opened #888 "reported an error after uninstalling SPO and reinstalling it"
#### What happened:
Hello, I recently reported an error after uninstalling SPO and reinstalling it. The error is as follows:
Error from server (InternalError): Internal error occurred: failed calling webhook "binding.spo.io": Post https://webhook-service.security-profiles-operator.svc:443/mutate-v1-pod-binding?timeout=10s: dial tcp 10.43.58.27:443: connect: connection refused
May I ask how to solv

[2022-04-07 06:20] saschagrunert commented on #888
Did you do an upgrade? Hm, I'm wondering how to reproduce this one.

[2022-04-07 06:21] saschagrunert commented on #887
Awesome, thank you for considering to work on this @Vincent056! :pray:

[2022-04-08 06:40] neblen opened #891 "The spod daemonset can't work,the log is that fatal error: timer when must be positive."
#### What happened:
The spod daemonset can't work.I deploy spo0.4.1 on ubuntu k8s,but the spod can't work correctly.
#### What you expected to happen:
The spod daemonset work correctly.
#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:
The error log is as follows.
[code]
#### Environment:

- Cloud provider or hardware configuration:k8s
- OS (e

[2022-04-08 07:11] saschagrunert commented on #891
This seems to be an issue with controller runtime :thinking: Hm, never seen this before.

[2022-04-08 07:19] neblen commented on #891
I deploy two worker nodes.The log of the second node is as follows.
[code]

[2022-04-08 07:28] saschagrunert commented on #891
Do you have cert manager deployed and is it healthy?

[2022-04-08 08:18] neblen commented on #891
@saschagrunert  Thank you for your reply.I have deployed cert manager and it runs correctly.The cert manager version is v1.6.1.

[2022-04-08 09:46] saschagrunert commented on #891
Alright, so can this be closed now? :)

[2022-04-08 09:55] neblen commented on #891
I’m sorry.The  cert manager runs correctly,but spod can't run.

[2022-04-08 10:21] chrisns commented on #780
can close this now right?

[2022-04-08 10:21] #780 closed

[2022-04-10 18:38] pjbgf commented on #65
@saschagrunert yes, I think we are better off doing kube-native, which in this case would mean deploying the profile in a container init.
Now I am not sure how we would check the Kubernetes version. In this specific case we probably would want to know the kubelet version.

[2022-04-10 18:38] pjbgf commented on #65
/remove-lifecycle stale

[2022-04-11 07:06] saschagrunert commented on #609
/remove-lifecycle stale

[2022-04-11 07:06] saschagrunert commented on #407
/remove-lifecycle stale

[2022-04-11 07:07] saschagrunert commented on #201
/remove-lifecycle stale

[2022-04-11 07:07] saschagrunert commented on #369
/remove-lifecycle stale

[2022-04-11 07:10] saschagrunert commented on #65
Yes I think this would make sense :+1:

[2022-04-12 06:58] brness commented on #795
I have the same issue and I deploy SPO in my local cluster, is this concerned as kernel problem?
my OS is centos with kernel:
`Linux k8s-master-node-1 3.10.0-1160.el7.x86_64 #1 SMP Mon Oct 19 16:18:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

[2022-04-13 16:08] pjbgf commented on #718
/remove-lifecycle rotten

[2022-04-14 06:41] #779 closed

[2022-04-18 17:16] alexeldeib commented on #795
AKS doesn't do anything special for our kernels. They are based on Azure marketplace Ubuntu 18.04 images. Have you tried to reproduce this on a vanilla (non-AKS) VM?

FWIW, I tried this once like a year or so ago and hit similar issues I wasn't able to resolve. I ended up not using BTF sadly. My suspicion is it could be something to do with 18.04 or how they backported kernel fixes and a version l

[2022-04-18 18:44] alexeldeib commented on #795
@saschagrunert in case it's helpful, attached the kconfig from a running AKS node. Notably I do see `CONFIG_DEBUG_INFO_BTF=y` which is interesting (don't think that used to be the case in original 18.04, possibly came with kernel bump in 18.04.5 or whatever latest patch is?).

here's a snippet of the config grepping for bpf/btf flags to save you some time (admittedly 1067 vs 1074 but they are basi

[2022-04-18 19:56] tshaiman commented on #795
@alexeldeib  : thanks a lot for assisting in getting those configs . my 2 cents here is the latest kernel config which is 5.4.0.1074 from my running AKS node.
[config-5.4.0-1074-azure.txt](https://github.com/kubernetes-sigs/security-profiles-operator/files/8507828/config-5.4.0-1074-azure.txt)

[2022-04-18 20:35] alexeldeib commented on #795
ah. I suspect you need kernel 5.8 (not available on ubuntu 18.04 or AKS yet)

https://github.com/kubernetes-sigs/security-profiles-operator/blob/79bfa1db8a1d4fab8fbcada717df083f3b2a3bbf/internal/pkg/daemon/bpfrecorder/bpf/recorder.bpf.c#L28

https://github.com/torvalds/linux/commit/457f44363a8894135c85b7a9afd2bd8196db24ab

https://github.com/iovisor/bcc/blob/master/docs/kernel-versions.md

ring bu

[2022-04-18 20:51] tshaiman commented on #795
that is indeed seems to be the root cause, well done @alexeldeib !
@saschagrunert  : do you think an alternative to ring buffer maps < kernel 5.8 can be used  ? It might assist other developers mentioning having the same compatibilities issues.

[2022-04-19 07:51] saschagrunert commented on #795
@tshaiman maybe, I'll see what we can do here.

[2022-04-19 08:47] ccojocar opened #897 "Enforce cluster-wide a security baseline for seccomp profile installation"
#### What would you like to be added:

In a cluster where different tenants can install seccomp profiles in different namespaces, it is paramount to enforce cluster-wide
a security baseline for seccomp profile installation. This will prevent that the tenants will introduce system calls which are not allowed by the cluster operators in order to avoid container escapes and such.

It should be possib

[2022-04-19 12:47] ccojocar commented on #897
In this thread is a design discussion: https://kubernetes.slack.com/archives/C013FQNB0A2/p1650358471997719

[2022-04-21 03:44] longpi1 opened #903 "used ebpf to record container behavior, but found that I could not record syscall in the shell script running process in the container."
#### What happened:
Hello, I recently used ebpf to record container behavior, but found that I could not record syscall in the shell script running process in the container. As a result, some functions of pod could not be used normally after I mounted JSON files.
#### What you expected to happen:
Syscall can also be recorded normally during script execution in the container。
#### How to reproduce

[2022-04-21 07:19] saschagrunert commented on #903
Hey @longpi1, may I ask you to share the container image for the reproducer?

[2022-04-22 02:36] #686 closed

[2022-04-25 18:35] jhrozek commented on #891
btw @bachradsushi was able to reproduce this issue locally. I don't know what causes it.

[2022-04-28 11:17] ccojocar commented on #891
I am now also encountering this issue when running the e2e tests locally on kind:
[code]

[2022-04-28 11:35] ccojocar commented on #891
My assumption is that this might be related to the system timer. It might be caused by a desynchronisation but I am not totally sure.

[2022-05-02 07:47] jhrozek commented on #275
/remove-lifecycle stale

[2022-05-03 10:00] #897 closed

[2022-05-05 10:27] jhrozek commented on #878
We recently ran into something similar and it turned out that the problem was 64 character limit imposed on finalizers. The tell-tale sign was:
[code]
where `$REDACTED` was the node name which itself was over 50 characters long, plus the `-delete` suffix.

[2022-05-07 06:21] #413 closed

[2022-05-09 01:50] longpi1 opened #926 "An alternative to nix-build in Dockerfile"
#### What would you like to be added:
Hello, I want to build images in Dockerfile without passing Nix
#### Why is this needed:
In my own virtual environment, I do not have nix proxy source, so I cannot download the corresponding package. Is there any other way that I can key mirror without NIx?
#### User story covered
I want to modify part of the code and build the corresponding image for testing,

[2022-05-09 07:20] saschagrunert commented on #926
Which alternative would work for you? Can you build the UBI based Dockerfile: https://github.com/kubernetes-sigs/security-profiles-operator/blob/main/Dockerfile.ubi ?

[2022-05-09 11:53] #609 closed

[2022-05-10 01:45] longpi1 commented on #926
An error occurs when I use Dockerfile.ubi compile, as follows:
Microdnf install error:
(microDNF :1): glib-error **: 01:38:56.910: file.. /glib/gthread-posix.c: line 1339 (g_system_thread_new): error 'Operation not permitted' during 'pthread_create'
Can I compile directly from a makefile or other means? Thank you very much！

[2022-05-10 07:07] saschagrunert commented on #926
@longpi1 yes, does a simple `make` work for you?

[2022-05-13 11:06] #760 closed

[2022-05-16 09:59] jhrozek commented on #891
I'm occasionally hitting the issue also with OCP builds:
[code]

We've seen this today on a 6-node cluster, the interesting thing was that only one of six nodes was showing the issue. I didn't find anything different on that node compared to other nodes (time was in sync and set to UTC on all nodes for example)

[2022-05-16 10:07] jhrozek commented on #891
I really wonder if this can be an issue with the Go version we are currently using? Because all the frames in the stack trace of the go routine that is crashing seem to be pointing to the go stdlib:
[code]
OTOH, the only somewhat related issue I found is https://github.com/golang/go/issues/51341 but that is 1) BSD and 2) doesn't have the "timer when must be positive" issue, but EFAULT instead.

[2022-05-16 19:24] jhrozek commented on #677
Sorry this is taking so long. I've been working on this on and off (mostly off as I've been pulled into other directions). So far my idea, after brainstorming with @JAORMX is:
 - add a new field 'ready' to all profile CRs. This would indicate if the profile should be taken into use right after recording.
 - profileRecording CRs would also have this field. Per-profile controllers would just not rec

[2022-05-17 07:26] saschagrunert commented on #677
Reflecting that in a status field seems reasonable to me! :)

Yep, this seems to be the way to approach this. :+1:

[2022-05-27 18:11] perezjasonr commented on #668
Hello @jhrozek I just got this issue as well. to answer your questions, I used the errorlogger example from this repo. I do not see it showing up with:

`semodule -l | grep errorlogger`

also i noticed in the operator yaml theres a profile for selinuxd cil, I don't see that either.

for your other question, I applied the securityContext manually, since it says SPO doesn't support profile bindings

[2022-06-01 08:09] jhrozek commented on #744
/remove-lifecycle stale

[2022-06-02 12:16] saschagrunert opened #975 "Release v0.4.3"
Tracking issue for the upcoming release planned for Monday, June 6th 2022.

Release notes:
[code]

[2022-06-05 18:27] vaibhav2107 commented on #667
/remove-lifecycle stale

[2022-06-06 13:37] perezjasonr commented on #668
By the way I should add I didnt even attempt profile recording, all I did was try to make a profile via the CRD.

[2022-06-07 13:16] #975 closed

[2022-06-07 13:56] JAORMX opened #985 "Provide Helm chart artifact for installation"
#### What would you like to be added:

As part of the releases of this operator, we should also release Helm charts.

#### Why is this needed:

The Security Profiles Operator currently provides two modes of installation:

* Kustomize-generated manifests
* Operator Lifecycle Manager bundle

There are a lot of organizations who depend on Helm to install Kubernetes packages, so it would be ideal to a

[2022-06-07 14:03] stephen-fox commented on #985
Comment!

[2022-06-07 14:04] JAORMX commented on #985
/assign @stephen-fox

[2022-06-09 13:37] Jeroen0494 opened #990 "panic: runtime error: index out of range [1] with length 1"
#### What happened:

The operator immediately crashed after installation with an index out of range error.

[code]

#### What you expected to happen:

I expect the operator to function after installation, not immediately crash.

#### How to reproduce it (as minimally and precisely as possible):
[code]

#### Anything else we need to know?:
Nextcloud has been rolled out with Helm (with MariaDB and R

[2022-06-10 07:39] jhrozek commented on #990
Can you paste how does the `mariadb-0` pod manifest looks like (`kubectl get -oyaml`)?
This is the code that crashes:
[code]
so it looks like there are some seccomp profiles that don't have a slash in their name. Based on the version you are running I suspect it's `RuntimeDefault` but I wanted to confirm.

[2022-06-10 08:00] Jeroen0494 commented on #990
Hi,

Thank you for the response!

I'm running a custom seccomp profile I created myself, for MariaDB, Nextcloud, NGINX, Redis, and a couple of others.

Here is the output:
[code]

And here is my seccomp profile, which is stored under `/var/lib/kubelet/seccomp/mariadb-seccomp-profile.json`
[code]

[code]

[2022-06-10 17:53] Jeroen0494 commented on #990
If I move the seccomp profile to a folder:
[code]

Nothing really changes. This time it's Redis, because I patched that one first.
[code]

[code]

[2022-06-13 07:34] saschagrunert commented on #990
@jhrozek do you have a fix in mind? Even without fixing the root cause we could consider adding a check to https://github.com/kubernetes-sigs/security-profiles-operator/blob/38a3d6764d6ba0b16b8f443510f0d5d6b2df9ba6/internal/pkg/manager/workloadannotator/workloadannotator.go#L122

[2022-06-13 17:51] bachradsusi opened #992 "selinuxd is running with spc_t"
#### What happened:

selinuxd container is running with spc_t domain type:

    system_u:system_r:spc_t:s0       237236 ?        Ssl    0:01 /usr/bin/selinuxdctl daemon --datastore-path /var/run/selinuxd/selinuxd.db --socket-path /var/run/selinuxd/selinuxd.sock --socket-uid 0 --socket-gid 65535

#### What you expected to happen:

Based on this https://github.com/kubernetes-sigs/security-profiles-o

[2022-06-15 16:09] Jeroen0494 commented on #990
When I specify the seccomp profile directly in the deployment YAML, it does work:
[code]

So there is something wrong with the ProfileBinding.

[2022-06-28 12:32] pjbgf commented on #653
/remove-lifecycle stale

[2022-07-01 12:25] ccojocar opened #1014 "Provide an options to deploy statically the webhooks"
#### What would you like to be added:

In a more security restricted environment, there is a requirement to remove the permissions for `admissionregistration.k8s.io` from `security-profile-operator` cluster role in order to reduce the attack surface. This is not achievable with the current approach which dynamically creates/updates the webhook related resources. These API actions need these permis

[2022-07-01 12:53] jhrozek commented on #1014
I think this is good in general, I was suspecting that this request will come sooner or later. Just see one question and one historical remark below.

 - were you thinking about changes to the RBAC manifests, too? You mentioned a SPOD option, but were you also thinking about not creating the perms at all (maybe through a kustomize manifest)? A spod option seems like a dynamic thing to me though an

[2022-07-04 07:26] saschagrunert commented on #1014
I'm in favor of the enhancement in general, but I'm wondering which other implications they have. Do they make the overall deployment of the operator harder? I don't think so, correct?

[2022-07-04 07:45] ccojocar commented on #1014
I am thinking to add an option in the SPOD configuration and of course remove the permissions from RBAC cluster role through kustomize when the option is on. The reason for this is to keep the backward compatibility and the existing behaviour, so the webhook would be configurable in two ways:
- dynamically as currently is implemented, in this case the option will be set to off and the permissions

[2022-07-05 06:19] JAORMX commented on #1014
@ccojocar doing it through kustomize in a static manner would be quite nice and shouldn't be too problematic. Installation-wise, this would be toggled on/off through a boolean we have Helm packaging ready (https://github.com/kubernetes-sigs/security-profiles-operator/issues/985 is in progress). My only concern is the OLM installation, I don't know how we could add a toggle for such a feature... I

[2022-07-05 08:27] jianzhangbjz commented on #888
Encounter the same error:
[code]
@longpi1 How you fixed it? Thanks!

[2022-07-06 01:34] longpi1 commented on #888
I'll just unload it and reload it

[2022-07-06 15:36] B3ns44d opened #1017 "spod CrashLoopBackOff & bpf-recorder connect to metrics server: connect to local GRPC server"
<details><summary><h4>What happened</h4></summary>

When trying to enable the BPF recording feature using:

- `$ kubectl patch spod spod --type=merge -p '{"spec":{"enableBpfRecorder":true}}’` .

I get `spod-f62bh                                           1/3     CrashLoopBackOff   38 (2m42s ago)   76m`:

<details><summary><code>$ k logs spod-f62bh</code></summary>

[code]
</details>

<details><sum

[2022-07-06 18:15] B3ns44d commented on #891
I'm currently facing the same issue as well.

[code]

[2022-07-10 12:41] pjbgf commented on #65
/remove-lifecycle stale

[2022-07-13 06:55] pjbgf commented on #718
/remove-lifecycle stale

[2022-07-18 10:49] B3ns44d opened #1036 "File access profiling"
#### What would you like to be added:
A strict denylist can be created by observing the system calls that access files and obtaining a list of the files that a container is expected to access in addition to creating an allowlist (seccomp profile) that allows spacifec syscalls while blocking everything else. We want to be even more strict than that by profiling file access.

##### A list of File sy

[2022-07-18 14:46] pjbgf commented on #409
I have recently created an initial draft for Flux AppArmor profiles: https://gist.github.com/pjbgf/3823706c68a7a29fad2f5d925ee57429
This encompasses all the Flux controllers and limits disk usage, capabilities and network (to some extent). That could be a good starting point.

I am currently running some long tests to ensure it is not blocking anything it shouldn't, but soon we should be able to s

[2022-07-19 07:00] saschagrunert commented on #1036
Hey @B3ns44d, thank you for the request. It feels to me that is something we can achieve via SELinux and AppArmor already. @pjbgf @jhrozek @JAORMX what do you think?

[2022-07-19 07:20] JAORMX commented on #1036
@saschagrunert I agree, this is not exactly the realm for Seccomp, but instead the job for a Mandatory Access Control implementation like SELinux and AppArmor. With SELinux (and I'm sure with AppArmor also) it's possible to restrict the files to be accessed and the allowed operations.

[2022-07-19 08:53] B3ns44d commented on #1036
@saschagrunert, @JAORMX Yes, that's exactly what I wanted to say; to enhance the denylist policy, we can create a profile (AppArmor/SELinux) that restricts file access. The purpose here is to determine whether it is possible to automatically record file access and generate a denylist from it.

for example this is a list of files that a nginx container is expected to access:

[code]
so we may there

[2022-07-19 15:17] B3ns44d commented on #1036
@JAORMX yes yes, I have been recording seccomp profiles using the "ProfileRecording" for a while now. However, for some reason, I was unable to record SELinux profiles (I don't have a lot of experience with SELinux, _I'd appreciate it if you could share any resources with me on SELinux and SPO.).

So, I'm wondering if the SPO can detect/record file access and generate an Apparmor profile from it,

[2022-07-20 09:00] pjbgf commented on #1036
@B3ns44d we are yet to support auto generation of AppArmor profiles. In the mean time, you are better off using the AppArmor tools and creating them manually.

You can use the "[systemic approach](https://documentation.suse.com/sles/12-SP5/html/SLES-all/cha-apparmor-commandline.html#sec-apparmor-commandline-profiling-systemic)" for it, which is quite straightforward - provided you have admin acces

[2022-07-20 15:29] B3ns44d commented on #1036
@pjbgf AFAIU the "aa-genprof" is used to generate AppArmor profiles from programs based on system logs "/var/log/audit/audit.log," but I'm not sure how this would apply to pods.

[2022-07-20 16:16] B3ns44d commented on #795
@saschagrunert I'm facing the same issue on k3s cluster

`spod-f7bzv                                           2/3     CrashLoopBackOff   38 (4m42s ago)   134m `

`$ k logs spod-f7bzv -c bpf-recorder`

[code]

[2022-07-21 06:05] saschagrunert commented on #795
@B3ns44d I think we require kernel 5.8 for that to work :-/

[2022-07-21 08:17] B3ns44d commented on #795
@saschagrunert ohhh didn't know that, it now functions properly after upgrading to 5.13.0-41.

[2022-07-21 19:01] stephen-fox opened #1041 "security: Authenticate build tooling"
#### What would you like to be added:
Currently, the `Makefile` automation downloads tools like `kustomize`, `kubernetes-split-yaml`, and `operator-sdk` without authenticating them. In other words, their hashes are not checked, or they are not built from source using `go install` (assuming they are written in Go). The latter method ensures the source code and its dependencies match what is in Goog

[2022-07-22 06:50] saschagrunert commented on #1041
@stephen-fox great points and I totally agree that we should verify their integrity! Do you mind creating a PR for that?

[2022-07-22 07:24] JAORMX commented on #1041
@stephen-fox we are doing this for other dependencies, you might wanna look at this if you want ideas https://github.com/kubernetes-sigs/security-profiles-operator/pull/1040

[2022-07-25 08:49] pjbgf commented on #1036
@B3ns44d yes, that's due to the fact that by default your container binaries will reside in a different chroot and PID namespace as the `aa-genprof` tooling. You probably can circumvent that at the risk of potentially influencing the resulting profile. Hence why so far I am still going for a mostly manual approach on AppArmor.  But I haven't spent enough time trying to automating it yet.

Potentia

[2022-07-26 08:43] JAORMX opened #1049 "Flatcar e2e tests are broken"
#### What happened:

The Flatcar VM fails to boot:

[code]

#### What you expected to happen:

The machine should boot and we should be able to run e2e tests

#### How to reproduce it (as minimally and precisely as possible):

Run the flatcar e2e test in CI

#### Anything else we need to know?:

#### Environment:

- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Ker

[2022-07-27 17:28] #985 closed

[2022-07-28 09:37] #1049 closed

[2022-07-28 20:16] stephen-fox opened #1062 "helm: Explore adding cert-manager (version >=1.9.0) as a chart dependency"
#### What would you like to be added:
We recently added a helm chart in PR #1013. Unfortunately, cert-manager
does not support helm's dependency management feature (see above PR's
description for more information on that).

It was announced that cert-manager 1.9.0 (may) support this:

[code]

Refer to the release notes for more information:
https://github.com/cert-manager/cert-manager/releases/tag

[2022-07-29 09:23] jhrozek commented on #885
/remove-lifecycle stale

[2022-07-29 09:51] jhrozek opened #1066 "the nodestatus module is too verbose"
#### What happened:
There's a lot of messages in the nodestatus.go module that use the Info level while using the increased verbosity configurable in spod would probably be a better idea.

#### What you expected to happen:
no messages about setting the nodestatus to something without setting extra verbosity

#### How to reproduce it (as minimally and precisely as possible):
just install a seccomp

[2022-07-29 09:51] jhrozek commented on #990
I split the issue about the verbose logging in nodestatus into its own ticket

[2022-07-29 09:56] jhrozek commented on #1014
No, I don't think this is sufficient, the only way this could help us is that someone could use an environment variable to control if the hook would be created by default or not using the `Env` key. This might be useful as well, but maybe could be a follow-up.

Anyway, about the OLM - I think we need to decide as a project what is the default (webhook on/off) and package that in OLM. I don't think

[2022-07-29 10:00] jhrozek commented on #1014
Hi @ccojocar sorry about the delay in replying, I was on a long vacation and I'm still processing the e-mails and github notifications.

I do like your proposal! After triaging some CI failures and issues our QE team found while we are trying to stabilize SPO for openshift, I do agree that we should have an option to deploy the webhooks by default or not during runtime. I would even argue that the

[2022-07-29 11:40] jhrozek commented on #887
/remove-lifecycle stale
@Vincent056 I propose we look at this after in ~3 weeks (after our upcoming sprint)

[2022-07-29 15:20] #733 closed

[2022-07-30 08:49] jhrozek commented on #409
On Mon, Jul 18, 2022 at 07:46:58AM -0700, Paulo Gomes wrote:

Awesome! It would be really great if you could also submit some howto on
how did you record or create the profile.

[2022-07-30 08:50] jhrozek commented on #858
/remove-lifecycle rotten

[2022-08-01 07:20] jhrozek commented on #275
/remove-lifecycle stale

[2022-08-09 11:11] jhrozek commented on #407
/remove-lifecycle rotten

[2022-08-09 11:11] jhrozek commented on #201
/remove-lifecycle rotten

[2022-08-09 11:25] brness opened #1078 "ProfileBinding for Deployment fail to record active workload"
#### What happened:
I try to use a profilebinding for the deployment so each of replicas can have a seccomp profile.
Here is the step:
1.create seccompprofile in demo namespace
![image](https://user-images.githubusercontent.com/22000324/183633790-d9c7eb8d-7959-441f-b820-976d0852ad75.png)
2.create a nginx deploy in demo namespace
![image](https://user-images.githubusercontent.com/22000324/183634190

[2022-08-10 03:05] #926 closed

[2022-08-11 10:06] #1066 closed

[2022-08-12 07:30] JAORMX commented on #825
/reopen
/remove-lifecycle rotten

[2022-08-12 12:08] pradeepjairamani opened #1086 "Seccomp profile not getting created"
#### What happened:
I am trying to create Seccomp profile but there's no local profile being created created in local machine
Container runtime: Docker (EKS)
OS: Amazon Linux 2
[code]

[2022-08-15 07:51] pjbgf opened #1087 "Flaky Tests"
Flaky tests are increasing the time from PR to merge and require more test retries than they should.

This issue is to track the existing Flaky tests and discussions on how to solve the problem.

- [ ] Seccomp: Metrics
- [ ] cluster-wide: Seccomp: Verify profile binding
- [ ] cluster-wide: Seccomp: Verify profile recording logs
- [ ] cluster-wide: Seccomp: Verify profile recording bpf

[2022-08-15 12:45] jhrozek commented on #1086
Maybe provide some logs from the operator or events from the NS where you created the profile as well as operator's. I wonder if you installed the namespaced operator but created the profile in another NS?

[2022-08-17 06:50] pradeepjairamani commented on #1086
@jhrozek Thanks, looks like I created profile in a different namespace

[2022-08-17 06:50] #1086 closed

[2022-08-18 08:59] pradeepjairamani opened #1092 "BPF recorder not working"
#### What happened:
I was trying to launch the BPF recorder using
#### What you expected to happen:
Running BPF recorder using the below manifest file
apiVersion: security-profiles-operator.x-k8s.io/v1alpha1
kind: ProfileRecording
metadata:
  name: my-recording
spec:
  kind: SeccompProfile
  recorder: bpf
  podSelector:
    matchLabels:
      app: zookeeper

#### How to reproduce it (as minimally

[2022-08-20 10:24] JAORMX commented on #795
This seems to have been answered with the kernel version comment. Closing.

[2022-08-20 10:25] #795 closed

[2022-08-21 18:51] pradeepjairamani opened #1103 "Log-enricher profile not found error"
#### What happened:
I tried using the log-enricher for profile recording with the below configuration

`apiVersion: security-profiles-operator.x-k8s.io/v1alpha1
kind: ProfileRecording
metadata:
  name: test-recording
  namespace: security-profiles-operator
spec:
  kind: SeccompProfile
  recorder: logs
  podSelector:
    matchLabels:
      app: my-app
`

[code]

#### What you expected to happen:
Pr

[2022-08-22 07:30] saschagrunert opened #1104 "Image build CI broken"
#### What happened:

The CI for the jobs `image` and `ubi-image` are broken right now:
- https://github.com/kubernetes-sigs/security-profiles-operator/runs/7946447237?check_suite_focus=true
- https://github.com/kubernetes-sigs/security-profiles-operator/runs/7946447601?check_suite_focus=true

[2022-08-22 07:41] JAORMX commented on #1104
On it!

[2022-08-22 09:02] jhrozek commented on #1103
Is the `log-enricher-trace` seccompProfile installed and available?
Run:
[code]

[2022-08-22 10:12] saschagrunert commented on #1104
Way better, but it still looks broken: https://github.com/kubernetes-sigs/security-profiles-operator/runs/7949099932?check_suite_focus=true

[2022-08-22 12:07] #1104 closed

[2022-08-23 09:23] saschagrunert commented on #1092
Hey @pradeepjairamani, this is a known limitation. We require at least kernel 5.8 for the BPF recorder: https://github.com/kubernetes-sigs/security-profiles-operator/blob/main/bpf-support.md

[2022-08-23 11:24] brness opened #1111 "fail to record deployment pod"
#### What happened:
1. deploy a nginx deployment with label=nginx-pod
[code]
2.create a profilerecording with label=nginx-pod
[code]
3.delete the pod and generate the seccompProfile
the bpf record logs:
[code]
and it did get the seccompProfile.

4.delete the generate pod but no seccompProfile found
bpf recorder logs:
[code]
pod can be deleted, but no seccompProfile found.

#### What you expected t

[2022-08-23 11:48] jhrozek commented on #1111
You mentioned "the second pod can generate the secompProfile as well." but it's unclear to me which second pod..did the deployment have two replicas?

Could you check the annotations on the recorded pods after they've been admitted?

[2022-08-23 12:01] brness commented on #1111
my bad, no just one replica, because of the deployment, the newly generated pod would have the same label.
and I check the label of newly generated pod it did has the annotation
[code]
and here the profile name is  _my-recording-nginx-pod-0-1661255529_
after i delete this pod, the recorder logs shows:
[code]

and I think this is because there was no event report to bpfrecorder.go. if there is even

[2022-08-23 12:31] brness commented on #1111
So I wonder if this could because the same pid generated, so the recorder.bpf.o file can't send the event timely and store the pid to the old syscall map, BTW, why not delete the syscall map after generate the secompProfile but only the commands map? Maybe the possibility of the same pid is quite rare?

[2022-08-23 12:48] brness commented on #1111
during this problem, i find another strange situation.
[code]
the same pid of same mntns would process event to bpfrecorder many times. but this should not happen, is this my kernel problem?

[2022-08-23 13:21] brness commented on #1111
yes after i add the code
[code]
I can delete po and generated the secompProfile, but the only problem is it will unload and upload bpf module more frequently. So if this is acceptable?

[2022-08-23 13:35] pradeepjairamani commented on #1103
the profiles were not getting created locally on the node but it was showing profile created as a resource using `kubectl get sp -A` the `/var/lib/kubelete/seccomp/operator` folder also did not get created on the node, but pods were able to use Seccomp profile created in `/var/lib/kubelete/seccomp/operator` folder created using SeccompProfile, I was able to apply the profile using ProfileBinding a

[2022-08-23 13:35] #1103 closed

[2022-08-23 14:45] pradeepjairamani commented on #1092
Got it, thanks

[2022-08-23 14:45] #1092 closed

[2022-08-24 02:33] #1078 closed

[2022-08-24 02:44] brness commented on #878
change the file path of the seccompProfile would help. I set the OperatorRoot path from _/var/lib/security-profile-operator_ to _/var/lib/kubelet/security-profiles-operator_ , and you need to change the volume as well, and I can set the seccompProfile into the pod!!

[2022-08-24 02:53] brness commented on #1111
no it still fail to generate the profile

[2022-08-25 07:10] JAORMX opened #1122 "Make ebpf worker limit configurable"
#### What would you like to be added:

We need a way to make the ebpf worker limit configurable. We don't necessarily want to make the parameter by itself configurable, but instead just have an intuitive way to adjust that based on a certain system's attributes. The idea is that it should be intuitive.

#### Why is this needed:

[A recent PR](https://github.com/kubernetes-sigs/security-profiles-op

[2022-08-25 07:14] saschagrunert commented on #1122
Totally agree that having a configuration makes sense here. What I also had in mind is either measuring or assuming that a goroutine uses a certain amount of memory. Then we could limit it by memory and adjust the resource spec accordingly to the value.

[2022-08-25 07:15] JAORMX commented on #1122
@saschagrunert I like the idea of measuring and basing the value on that.

[2022-08-27 12:27] tshaiman commented on #1111
same issue for me :

E0827 12:15:19.314563    4186 bpfrecorder.go:580] bpf-recorder "msg"="unable to find container ID in cluster" "error"="find container ID: wait on retry: timed out waiting for the condition"
I0827 12:15:19.314712    4186 bpfrecorder.go:545] bpf-recorder "msg"="Skipping PID, because it's on the system mount namespace"  "mntns"=4026532797 "pid"=189737
I0827 12:15:19.315235    418

[2022-08-29 09:54] brness commented on #1111
have you encounter the situation that same pid would report many time until the pod run out of ressurce? just like my second issue? I'm not sure it only happen on me or a common issue?

[2022-08-29 09:54] brness commented on #1111
have you encounter the situation that same pid would report many time until the pod run out of ressurce? just like my second issue? I'm not sure it only happen on me or a common issue?

[2022-08-29 09:57] brness commented on #1111
Hi Tomer, have you encounter the situation the same pid would report many times until the pod run out of resource?like I mentioned in the next line? I'm not sure it happen only on me or a common issue?

[2022-08-30 10:45] jhrozek commented on #744
/remove-lifecycle stale
this has a PR on review

[2022-08-30 11:08] #878 closed

[2022-08-31 08:29] saschagrunert opened #1130 "UBI build fails in CI"
The UBI build fails because of a security vunlerability:

[code]
Example run: https://github.com/kubernetes-sigs/security-profiles-operator/runs/8109204185?check_suite_focus=true

Either we make it optional or we update something to fix the build. I'm fine with both.

Found in PR: https://github.com/kubernetes-sigs/security-profiles-operator/pull/1129

[2022-09-01 03:09] brness commented on #1111
Ok, Things are clear, It's because the mount of pid has reach the maximum capacity of the syscallMap, the default size of the map is 8*1024 and It can't be changed. @saschagrunert If there is a configurational way to adapt the value according to the real state. Or a easy way, change the type of syscall Map from BPF_MAP_TYPE_HASH to BPF_MAP_TYPE_LRU_HASH, this would help~~

[2022-09-01 07:31] saschagrunert commented on #1111
This sounds great, thank you for digging into this! Do you mind proposing a PR for that?

[2022-09-01 10:54] brness commented on #1111
Sure

[2022-09-02 05:18] pradeepjairamani opened #1136 "Enable profilebinding using labels"
#### What would you like to be added:
Currently, profile binding feature can be used with image tags, can we can bind the profiles using labels?
#### Why is this needed:
Depending on the deployment configuration, image tags can change frequently , using labels from resources would make the profile binding easier

[2022-09-02 07:32] saschagrunert commented on #1136
I think this would be a valuable addition. We decided to use the image because it's the most simple way to achieve a binding. What do you think @pjbgf @jhrozek @JAORMX ?

[2022-09-02 08:02] jhrozek commented on #1136
I think this makes sense.

[2022-09-02 08:03] JAORMX commented on #1136
In principle it makes sense. My only concern is that most pods tend to have multiple containers, so we'd need more than a label to match where a profile should go. Else, the same profile would be applied in all containers and that might not be desirable.

[2022-09-02 09:08] #1130 closed

[2022-09-02 09:24] brness commented on #1136
Maybe we can both use image and label to select the correct pod, and the image name to help to narrow the corresponding pod.

[2022-09-03 07:37] #1111 closed

[2022-09-03 20:19] pradeepjairamani commented on #1136
Yes, there should be an option to enable profile binding for all the container images available within that specific label and  also remove/add image names in those labels as well, the problem with current implementation is image name changes frequently and to reduce operational overhead people will use a single profile for most of their application images

[2022-09-04 08:29] pjbgf commented on #1136
My concerns here would be on this being used to allow users with some cluster permissions to move a workload from a more strict security profile to a less strict one. It would be good to work out a few examples on how this would work, and what options would a platform admin have to limit malicious users (in a multi-tenant cluster for example) to use this to weaken workload enforcement.

Extending

[2022-09-04 14:21] #668 closed

[2022-09-05 08:58] saschagrunert opened #1144 "Release 0.5.0"
I think it's time for another patch release of the SPO since we have a bunch of enhancements merged until the previous one: https://github.com/kubernetes-sigs/security-profiles-operator/compare/v0.4.3...main

Do you have anything you'd like to see merged before cutting a new release?

[2022-09-05 09:21] JAORMX commented on #1144
Nothing other than https://github.com/kubernetes-sigs/security-profiles-operator/pull/1127

[2022-09-06 00:43] pradeepjairamani opened #1150 "Cannot record Selinux Profile"
#### What happened:
I am trying to record Selinux profile using Kind:SelinuxProfile profile recording
Here's the manifest I am using
`apiVersion: security-profiles-operator.x-k8s.io/v1alpha1
kind: ProfileRecording
metadata:
  name: demo-selinux
spec:
  kind: SelinuxProfile
  recorder: logs
  podSelector:
    matchLabels:
      app: se-demo`
`apiVersion: v1
kind: Pod
metadata:
  name: nginx
  label

[2022-09-06 00:46] pradeepjairamani commented on #1136
I am sure that would be useful but it will create more confusion for applying the profiles, I think having an option to select all or specific images in a label would be much more useful

[2022-09-06 00:50] pradeepjairamani commented on #1150
There's no specifc documentation available for recording Selinux profiles
when I am trying to check if selinux is enabled using
`sudo sestatus
SELinux status:                 disabled`
not sure if any other configuration changes are required for this

[2022-09-06 05:17] JAORMX commented on #1150
@pradeepjairamani the SecurityProfilesOperatorDaemon has SELinux disabled by default, you'd need to enable it first.

`kubectl explain SecurityProfilesOperatorDaemon` gives some relevant information

[2022-09-06 06:37] pradeepjairamani commented on #1150
I have patched the spod configuration to enable Selinux using the below command and tried again with the above steps, I am still not able to get any selinux profiles created or metrics on prometheus

 `kubectl -n security-profiles-operator patch spod spod --type=merge -p '{"spec":{"enableSelinux":true}}'`

[2022-09-06 06:47] JAORMX commented on #1150
@pradeepjairamani could you please add more description of the system you're running this in?

What distro and kernel version is it? Is SELinux in enforcing or permissive mode? is auditd running? You also might want to check your audit rules for anything that might prohibit the linus audit subsystem from getting SELinux audit logs.

[2022-09-06 07:15] jhrozek commented on #1150
You cannot record SELinux policies with SELinux disabled. Recording of the policies relies on setting a permissive context for the workloads that logs all AVCs but permits them. This doesn't work with SELinux disabled.

[2022-09-06 07:15] pjbgf commented on #1136
@pradeepjairamani do you mind elaborating on "will create more confusion for applying the profiles" please?

Note that my concerns around using labels is that a Cluster admin will require the use of Admission Controllers / OPA to ensure users are not using it to weaken or bypass enforcement. Given that the primary goal of SPO is to deliver security profiles, and also be able to automatically bind

[2022-09-06 07:19] JAORMX commented on #1150
oh... I somehow missed this comment. The Security Profiles Operator will not turn SELinux on for you in your system. The system needs to have SELinux enabled to begin with. The enableSelinux flag turns on SELinux support in the SPO only.

[2022-09-06 09:52] pradeepjairamani commented on #1150
I have enabled Selinux in permissive mode on all nodes of the cluster and restarted them, these AVC logs were found in `/var/log/audit/audit.log`

`type=AVC msg=audit(1662453321.187:16): avc:  denied  { search } for  pid=2742 comm="rngd" name="pki" dev="nvme0n1p1" ino=2118127 scontext=system_u:system_r:rngd_t:s0 tcontext=system_u:object_r:cert_t:s0 tclass=dir permissive=1
type=AVC msg=audit(166245

[2022-09-06 10:42] pradeepjairamani commented on #1136
got it, thanks @pjbgf

[2022-09-06 10:50] JAORMX commented on #1150
@pradeepjairamani this looks like an issue in Amazon Linux:
[code]

That denial is unrelated to the SPO and should probably be reported to the Amazon folks somehow.

I am not sure about the sestatus issue you're seeing.

Is the `enableSelinux` flag set to `true` in the `spod`? Does the selinuxd container give any relevant logs?

[2022-09-06 10:52] kecebon9 opened #1152 "Unable to delete seccompprofile if one of node is deleted"
#### What happened:

Unable to delete the seccompprofiles if one of the node deleted/updated because of the finalizers is not updated with the latest nodes. I'm not sure if this bug or as per design.
Thank you

#### What you expected to happen:

Possible if SPO update seccompprofiles on the Finalizers part to the latest k8s nodes?

#### How to reproduce it (as minimally and precisely as possible):

[2022-09-06 11:02] saschagrunert commented on #1152
This feels like a bug, thank you for reporting that!

[2022-09-07 08:15] pradeepjairamani commented on #1150
Looks like it's trying to mount selinux from a different location, wasn't seeing these issues when Selinux was in disabled mode

<img width="1438" alt="Screenshot 2022-09-07 at 1 41 17 PM" src="https://user-images.githubusercontent.com/24669027/188826161-6affc24e-aa91-4f3b-96b5-569f3fd06e68.png">
`$whereis selinux
selinux: /etc/selinux /usr/libexec/selinux /usr/share/selinux /usr/share/man/man8/se

[2022-09-07 08:24] saschagrunert commented on #1144
Given https://github.com/kubernetes-sigs/security-profiles-operator/pull/1112, I think we should rather release 0.5.0 than 0.4.3.

Do we want to graduate another API by the way @JAORMX @pjbgf @jhrozek?

[2022-09-07 09:00] jhrozek commented on #1144
Hmm, good point. What about graduating the SELinux APIs to beta? We haven't changed them in a while and they were also reviewed by @bachradsusi who is the selinux userspace upstream maintainer. So I think those should be safe.

Maybe also the secprofnodestatus API could be graduated, it's unlikely to change (even though we had a bug filed yesterday)

I'm going to be touching the profilerecording A

[2022-09-07 09:26] pradeepjairamani commented on #1150
Here it is
[code]

[2022-09-07 10:38] pjbgf commented on #1144
#1063 is the only thing I can think of.

When are you aiming to get the this release out by? I have a few changes to improve AppArmor support but that is still WIP.

[2022-09-07 11:18] saschagrunert commented on #1144
We're not on a rush, we can wait a bunch of weeks. How about before KubeCon (Oct 24)?

[2022-09-07 12:31] jhrozek commented on #1144
On Wed, Sep 07, 2022 at 04:18:19AM -0700, Sascha Grunert wrote:

I /might/ ask for a release (regardless of the version number) by the
end of September for OCP inclusion.

(pending some RHCOS dependencies)

[2022-09-07 13:36] #744 closed

[2022-09-08 17:28] pjbgf commented on #1144
I should have AppArmor in a good place by end of Oct.

But agree with @jhrozek that we could have a release before then as well.

[2022-09-08 21:28] jhrozek commented on #1150
hmm, sorry, then I don't know from the top of my head. I really don't think that anyone in the core SPO team has tried SPO with SELinux on Amazon Linux. I think it would be a nice project to add that as a supported platform.

[2022-09-09 05:51] JAORMX commented on #1150
I think the relevant configuration would have been in `/etc/selinux/config`

[2022-09-11 18:43] jhrozek commented on #992
/remove-lifecycle stale

[2022-09-13 02:35] neblen opened #1165 "When profilerecording is running, the ebpf map may be full, causing the recording to fail"
#### What happened:
ebpf map is full，ebpf map can't store new pid and syscall. Because the ebpf code will save the host process to the ebpf map
#### What you expected to happen:
when profilerecording is running,ebpf map can't store every pid from label pod
#### How to reproduce it (as minimally and precisely as possible):
1.Multi-node k8s cluster 2. profilerecording runs continuously
#### Anything

[2022-09-13 06:43] saschagrunert commented on #1165
Thank you for the report @neblen, I think the only good option forward with this bug is to increase the map size. We cannot know for how long profile recordings run and I'm not keen to limit the amount of parallel recordings, because this may not fix the problem at all.

[2022-09-13 08:21] neblen commented on #1165
Hi~ @saschagrunert  The reason why the ebpf map is full is that it stores too many host processes, these processes are not the processes corresponding to the container, so these processes do not need to be in the ebpf map.

[2022-09-13 08:24] neblen commented on #1165
The way I suggest is to use system mount namesapce to filter out the host process.In this way, the ebpf map of the kernel is basically sufficient, and it will not be full after a period of recording.

[2022-09-13 08:41] pradeepjairamani commented on #1150
apologies for the late reply, I don't think `/etc/selinux/config` has the relevant configuration for this, can you guide me where volume mount configuration is happening in the code so I can test and reconfigure it according to Amazon linux 2 paths
[code]

[2022-09-13 08:42] JAORMX commented on #1150
@pradeepjairamani I don't have much experience with Amazon Linux 2 nor do I use it 😕 ... So I'm not quite sure how things should be configured there.

[2022-09-13 08:47] pradeepjairamani opened #1167 "How to define logenricher by default while deployment of SPO"
I am trying to configure enablelogEnricher: true configuration directly into the security-profiles-operator deployment YAML so I don't have to patch changes during runtime, can anyone help me how can I configure it (I am deploying directly through ArgoCD),

Also will there be any issues if I add ProfileRecording with the operator deployment YAML

[code]

[2022-09-13 12:15] saschagrunert commented on #1144
I'd like to get in the libbpf 1.0.0 release, but for that we have to get https://github.com/NixOS/nixpkgs/pull/187978 merged first.

[2022-09-13 12:48] jhrozek commented on #1167
On Tue, Sep 13, 2022 at 01:47:49AM -0700, Pradeep Jairamani wrote:
(only replying to the other question)

Note that ProfileRecordings are namespaced, without specifying a
namespace explicitly, you're (probably?) creating the CR in the operator
namespace, which might not be what you want as opposed to recording the
workload in its own namespace.

[2022-09-14 12:38] pradeepjairamani commented on #1167
Got it, are there any other precautions for deployment in staging environment that I should be aware of? and is there a way I can add spec for enable log enricher during the time of deployment itself without having to patch it during runtime?

kubectl -n security-profiles-operator patch spod spod --type=merge -p '{"spec":{"enableLogEnricher":true}}'

[2022-09-14 15:55] jhrozek commented on #677
I'm 90% done (currently adding tests)
/remove-lifecycle rotten

[2022-09-15 09:41] saschagrunert opened #1169 "Find a way to retrieve the host applied seccomp profile"
#### What would you like to be added:

Seccomp profiles applied in the CRDs are defining a desired state, which may not be mapped 1:1 to the host. Depending on the architecture, the arguments and the lower level container runtime we may end-up in a slightly different result. The idea is to bring the information which seccomp profile has been exactly applied to the workload to the end user.

#### W

[2022-09-18 09:00] #903 closed

[2022-09-23 13:26] mqasimsarfraz opened #1187 "SPO stuck on UPDATING state because of a mutated webhook config on an AKS cluster"
#### What happened:
We are using SPO in our[ CI workflows](https://github.com/kinvolk/inspektor-gadget/actions/runs/3111689818/jobs/5044488332) for integration testing. We are unable to [uninstall](https://github.com/kubernetes-sigs/security-profiles-operator/blob/main/installation-usage.md#uninstalling) SPO as the default profiles (`log-enricher-trace/nginx-1.19.1`) show up again after deletion.

[2022-09-26 09:26] neblen opened #1188 "When recording, too many pids are generated in the container and the ebpf map is full"
#### What happened:
When recording, too many pids are generated in the container and the ebpf map is full.Mainly because the syscalls map is full, resulting in missing recorded syscalls.This happens when a node records multiple pods at the same time

#### What you expected to happen:
The ebpf map will not be full when recording syscall
#### How to reproduce it (as minimally and precisely as possib

[2022-09-26 09:29] neblen commented on #1188
There is currently a solution to change the syscall map mapping relationship to mntns corresponding to syscall.In fact, the user mode does not need to record the pid list corresponding to the profile.The user mode profile only needs to record the mntns corresponding to the profile.

[2022-09-27 07:57] mqasimsarfraz commented on #1187
After a bit more analysis the root cause was the a selector added by AKS to the webhook configuration as explained in this [issue](https://github.com/Azure/AKS/issues/1771). One way to work around this is to patch the spod:

[code]

One idea that comes to my mind is if it is possible for webhook reconciler to ignore such changes?

[2022-09-27 15:19] pjbgf commented on #653
/remove-lifecycle stale

[2022-09-30 02:16] tylerauerbeck opened #1194 "Use helm-docs to auto-generate helm documentation"
#### What would you like to be added:
The user experience for those installing SPO via the helm chart could be improved by using a tool like https://github.com/norwoodj/helm-docs to auto-generate documentation around the values available to the helm-chart.

#### Why is this needed:

Currently, a user would need to dig through both the values file and the templates themselves to discover what setti

[2022-09-30 07:25] jhrozek commented on #1187
I wonder if setting `StaticWebhookConfig=true` in `spod` and deploying the webhook config manually would be a good workaround?

[2022-09-30 07:27] jhrozek commented on #1187
actually..reading the azure issue I wonder if that should just be the recommended setting, not a workaround

[2022-09-30 07:32] jhrozek commented on #1144
This was done in https://github.com/kubernetes-sigs/security-profiles-operator/commit/0ca6f66d7beb610bcacd83a7270d3a43d6ea56a3 correct?

[2022-09-30 07:54] mqasimsarfraz commented on #1187
@jhrozek Thanks for the response. Yes, this seems bit more clear. I was wondering if it makes sense to handle it in the code? like only try to update webhook if expected config is missing in existing webhook ?

Good point. I think it would be great if we can document it somewhere. I will be happy to open a PR. Please let me know what you think about it?

[2022-09-30 08:02] jhrozek commented on #1187
I'm not sure. From purely clean code point of view, I prefer if SPO handles the webhook configuration fully rather than trying to magically merge external changes.

The other possibility is -- if the selector is known, maybe adding it to `webhookOpts` might make the spo's configuration the same as AKS is trying to push?

Can you test if using the static webhook helps? (I don't have access to an AK

[2022-09-30 08:20] mqasimsarfraz commented on #1187
This is how I made it [work](https://github.com/kinvolk/inspektor-gadget/pull/991) for now by patching it with the known selector and SPO goes to`RUNNING` state or you meant something else?

Sure, I will give it a try.

[2022-09-30 09:48] jhrozek commented on #1187
This is what I meant. I'm glad SPO works for you now!

btw there is a separate webhook deployment at `deploy/webhook-operator.yaml` which deploys the webhook's `MutatingWebhookConfiguration` as a static resource and then prevents SPO from handling the resource itself.

Whatever works for you, it would be nice to get a pointer to what you found to `installation-usage.md`. I'm unsure off-bat what wo

[2022-09-30 12:25] mqasimsarfraz commented on #1187
Thanks pointing that out. This could be helpful. I will give it a try as well.

Sounds great. I will test couple of things and open a PR with a note regarding deployment of  SPO on AKS.

[2022-09-30 16:45] rhmdnd opened #1197 "Some operator pods fail to initialize because metrics-cert-volume failed to mount"
#### What happened:

The operator pods failed to initialize during the installation process.

#### What you expected to happen:

I expected the operator pods to come up and be available after installing.

#### How to reproduce it (as minimally and precisely as possible):

To install, I logged into the cluster via CLI, then used the `make deploy-openshift-dev` Makefile target.

[code]

Checking the

[2022-10-02 18:27] jhrozek commented on #1197
Thanks for the bug report!

I wonder if this was an issue with that particular cluster or a bug in OpenShift because:
 - if the service hadn't been created, we should have seen some evidence coming from https://github.com/kubernetes-sigs/security-profiles-operator/blob/5a5d8bc96b4bb0029f54c237f8354da9f77886f9/internal/pkg/manager/spod/spod_controller.go#L328 and the operator would probably end in

[2022-10-03 10:47] jhrozek opened #1199 "Take the CRD Validation Expression Language into use"
#### What would you like to be added:
In kube 1.25, the CRD validation expression language was graduated into beta. I think SPO should take advantage of this feature for cases where e.g. we need to limit the resource name so that the resource is usable as a label value without having to resort to webhook.s

#### Why is this needed:
We have a couple of hacks in the code where we just throw an error

[2022-10-03 10:47] jhrozek commented on #1199
Some links to the feature:

- https://github.com/kubernetes/enhancements/issues/2876
- https://sysdig.com/blog/kubernetes-1-23-whats-new/#2876

[2022-10-04 07:22] saschagrunert commented on #1144
Yep, correct.

[2022-10-04 07:24] saschagrunert commented on #1188
@neblen thank you for the report, do you plan to give a PR a try for a fix?

[2022-10-04 10:36] #1187 closed

[2022-10-04 13:04] jhrozek opened #1203 "Convert the catalog image to file-based from SQLite-based"
#### What happened:
OLM has deprecated the SQLite based catalog we use upstream in favour of file-based catalogs. On some distributions (OCP), the SQLite catalogs are already causing problems on OCP 4.12+. Already, users are seeing a deprecation warning and if the catalog happens to be rebuild with an older OPM image it won't work at all.

#### What you expected to happen:
No deprecation warnings

[2022-10-05 08:07] jhrozek commented on #1167
@pradeepjairamani does you method of deployment allow to configure environment variables? We could perhaps add an environment variable that would auto-configure the logEnricher. Would that help?

[2022-10-05 13:33] jhrozek commented on #891
/remove-lifecycle stale
we have a similar bug open against OCP at the moment and while we couldn't reproduce it lately, I'd prefer to keep this issue open for one more "stale/rotten" cycle before closing.

[2022-10-06 07:15] #677 closed

[2022-10-07 05:41] juggarnautss opened #1210 "AppArmor profiles not loading on worker nodes in K8S cluster"
#### What happened:
We are using using AppArmor in our project.
In K8S cluster, After installing the SPO and enabing the AppArmor feature, i am creating the AppArmor profiles ,profiles are created successfully however those profiles are not getting loaded in the worker nodes.

#### What you expected to happen:
Once i create the AppArmor profiles, the profiles should get loaded in all the worker no

[2022-10-07 05:51] juggarnautss commented on #1210
Analysis so far:

Once i apply the profile, follwoign errors are coming in the SPOD and Security profile Operator pod logs:
spod log message:
[code]

security-profiles-operator pod message:
[code]

After tracing the error, i found the follwing file where there is no AppArmor case in nodestatus.go

File Name : SecurityProfileOperator\security-profiles-operator-main\security-profiles-operator-main\i

[2022-10-07 10:23] saschagrunert commented on #1144
@JAORMX @jhrozek @pjbgf happy to target the release for Oct 17?

[2022-10-07 10:36] jhrozek commented on #1144
I am!

[2022-10-08 02:03] neblen commented on #1188
yes，i want to fix this. At present, the code part of using mntns to save syscall has been written and still being tested.

[2022-10-08 12:58] #369 closed

[2022-10-10 08:10] pjbgf commented on #1144
Go ahead with 0.5.0, the changes for AppArmor will come in for 0.6.0.

[2022-10-10 15:42] pjbgf commented on #65
/remove-lifecycle stale

[2022-10-11 09:51] pjbgf commented on #718
/remove-lifecycle stale

[2022-10-12 09:20] pradeepjairamani commented on #1167
I recompiled the image and changed in spod.go configuration
`EnableLogEnricher:   true,`

https://github.com/kubernetes-sigs/security-profiles-operator/blob/main/internal/pkg/manager/spod/bindata/spod.go#L77

[2022-10-13 06:44] pradeepjairamani opened #1226 "Can we install security-profiles-operator without cert-manager"
#### What would you like to be added:
Wanted to understand if there's a way we can remove dependency for cert-manager?

[2022-10-13 07:47] saschagrunert commented on #1226
Hey @pradeepjairamani, thank you for the request. Right now we require cert-manager for creating certificates during the deployment of the operator, for example to make the webhook work. We also support OpenShift which does not require cert-manager at all because it has it's own CA injector.

[2022-10-13 08:24] jhrozek commented on #1167
Reopening, I think recompiling the image is not a sustainable change and we should support enabling the log enricher at install time via an env var.

[2022-10-13 09:24] pradeepjairamani commented on #1226
Is there any way we can manually install certificate for mutating webhook? I have a strong requirement for not keeping cert-manager as a dependency in the environment

[2022-10-13 10:39] saschagrunert commented on #1226
We would have to make that configurable, but technically it should work, yes.

[2022-10-13 11:07] pradeepjairamani commented on #1226
can you please help me with a few pointers on where to look at for making this configurable

[2022-10-17 11:31] #1167 closed

[2022-10-17 13:18] saschagrunert commented on #1144
The release notes:

[code]

[2022-10-17 19:56] juggarnautss commented on #1210
@All : Anybody help me with this info whether AppArmor profiles loading/unloading working on worker nodes in K8S cluster ?

[2022-10-18 13:55] saschagrunert commented on #1144
Done

[2022-10-18 13:55] #1144 closed

[2022-10-20 07:51] JAORMX commented on #1041
/remove-lifecycle stale

[2022-10-20 10:50] alban opened #1249 "bpf recorder fails on Minikube with Docker driver"
#### What happened:

The bpf recorder fails to look up a container ID :
[code]

The function `ContainerIDForPID()` uses the following regexp on `/proc/$pid/cgroup`:
[code]

The `/proc/$pid/cgroup` looks like this:
[code]

* The container ID `45965...` is the gcr.io/k8s-minikube/kicbase container on the host.
* The container ID `2f265...` is the inner container.
[code]

So it seems to pick the wron

[2022-10-21 13:52] jhrozek commented on #1136
Reopening although I'm not sure if what I'm describind matches the original issue, maybe it would be worth opening a new one?

What if we extended the binding CR to also contain a label selector, if the label selector was set AND matching an object AND matching the image, then the bind would happen?

What I'm looking to solve is: We maintain an operator that uses a single image to accomplish sever

[2022-10-21 13:53] jhrozek commented on #1014
@ccojocar this can be closed, right?

[2022-10-22 10:40] jhrozek opened #1256 "merging of SELinux policies produces duplicates"
#### What happened:
I was recording File Integrity Operator policies using the SELinux log-enricher based recorder and the resulting merged policy has a ton of duplicates:
[code]

#### What you expected to happen:
no duplicates

#### How to reproduce it (as minimally and precisely as possible):
1. create a namespace, label it for recording
2. create a profile recording
3. run FIO e2e tests there
4

[2022-10-22 10:41] jhrozek commented on #1256
/assign

[2022-10-23 10:53] B3ns44d commented on #1036
/close

[2022-10-23 10:53] #1036 closed

[2022-10-23 14:34] #1203 closed

[2022-10-25 07:24] #1256 closed

[2022-10-25 09:30] #1152 closed

[2022-10-25 11:55] jhrozek opened #1260 "SELinux audit parser fails to parse audit lines with multiple permissions"
#### What happened:
My SELinux test recording emitted the following log line:
[code]
it did not match the regex at all and wasn't thus parsed

#### What you expected to happen:
the line should be parsed

#### How to reproduce it (as minimally and precisely as possible):
not sure, but putting the above line into the unit tests reproduces the issue

#### Anything else we need to know?:
N/A

#### Env

[2022-10-25 11:55] jhrozek commented on #1260
/assign

[2022-10-27 11:40] jhrozek commented on #990
/remove-lifecycle stale

[2022-10-27 12:53] jhrozek commented on #885
/remove-lifecycle stale
I need to fix this to get SPO approved in OCP..

[2022-10-27 12:55] JAORMX commented on #1136
@jhrozek let's expand the use-case a little bit more and see where we could improve. Do you really want to use the same SELinux profile for all containers in one pod? I would have thought that three different sub-programs in the container would have different SELinux profiles as needed. It would then be more relevant to match a profile to a container in a pod.

[2022-10-28 10:36] pjbgf commented on #1136
@jhrozek combining matched image and labels does sound good.

@JAORMX for of a question, on SELinux is it not possible to get the profile to have "sub-profiles" that are targeted to specific binaries?

[2022-10-28 10:36] pjbgf commented on #409
/remove-lifecycle stale

[2022-10-28 10:52] JAORMX commented on #1136
@pjbgf It's not possible with the current SELinux implementation. It would be possible, but it would complicate the SELinux profile implementation, and I don't quite see much benefit for this. I'd much rather label profiles to mark they belong to the same pod or app.

[2022-10-28 17:00] helenabutowatcisco commented on #858
/remove-lifecycle stale

[2022-11-01 10:51] jhrozek opened #1269 "SELinux permissive policies (alternative to LOG action of seccomp)"
#### What would you like to be added:
A way to mark a SELinux policy as permissive without resorting to `RawSelinuxProfile`.

#### Why is this needed:
In case the recording misses some calls or in general if the admin is not sure that the policy can be put into production

#### User story covered
As an application SRE, Rajesh needs to be able to do long runs of a security profile in “complain-mode

[2022-11-01 11:14] jhrozek opened #1270 "Add a new flag to not install recorded profiles automatically"
#### What would you like to be added:
A profile recording should get a flag that would cause the profile to not be applied after recording.

#### Why is this needed:
we probably don't want to install profiles automatically when recording in CI

#### User story covered
As an application developer, Ming would like to be able to automatically generate initial security profiles that are specific to th

[2022-11-02 19:07] #667 closed

[2022-11-03 23:58] pjbgf commented on #1210
@juggarnautss thanks for reporting this. AppArmor is indeed WIP and should have documentation and reliability improvements soon - once https://github.com/kubernetes-sigs/security-profiles-operator/pull/1063 is merged.

Can you please confirm if you are getting the messages below in the logs from your spod?
[code]
That should confirm that the SPO can detect apparmor capabilities.

Can you also shar

[2022-11-04 19:58] juggarnautss commented on #1210
@pjbgf : Thank you for reverting on this.

Please clarify which version of operator.yaml shall i use for testing with image quay.io/paulinhu/security-profiles-operator:aa-fix .
I have tried with v0.5.0 operator.yaml but its breaking. please help me on this.

[2022-11-06 12:20] jhrozek commented on #1260
This was fixed in https://github.com/kubernetes-sigs/security-profiles-operator/commit/4aaae010a42ea07c8a56a6bcdb43f4543b3982d8

[2022-11-07 18:05] jhrozek commented on #407
/remove-lifecycle stale

[2022-11-07 21:34] jhrozek commented on #1260
Sorry, I confused this with another ticket. Reopening.

[2022-11-08 11:42] saschagrunert opened #1284 "Open Telemetry support"
#### What would you like to be added:

We can support Open Telemetry exporters like OTLP to provide more useful data to end users.

#### Why is this needed:

Open Telemetry enhances the observability in a cluster and is able to cover:

- Spans and baggage (information passed across spans)
- Events attached to spans (including errors)
- Logs
- Metrics (unstable)

#### User story covered

This is th

[2022-11-08 23:40] pjbgf commented on #1210
You should be able to use that image with the `operator.yaml` for `v0.5.0`. Did you confirm that your `SecurityProfilesOperatorDaemon` was created and `enableAppArmor` was enabled?

Is there any other errors you observed you could share?

[2022-11-09 15:56] #1260 closed

[2022-11-10 14:26] #1269 closed

[2022-11-13 08:16] pjbgf commented on #1087
/remove-lifecycle stale

[2022-11-14 17:04] juggarnautss commented on #1210
@pjbgf
Hi Paulo,

Took the latest SPO release where the app-armor fix is merged. Also, found that SPO installation manual is updated with AppArmor related data.
Therefore have done one round of testing with latest code and patch the spod with enabling apparmor.

FINDING:
After enabling apparmor,  found that the apparmor is enabled by SPO by checking the logs but SPODS are still restarting and ulti

[2022-11-15 23:09] pjbgf commented on #409
@jhrozek the generation process is way too painful when done manually, what I will do instead is try to get the profile automation process going. I got a few ideas, just need some time.

As for this issue, do you think that https://github.com/kubernetes-sigs/security-profiles-operator/pull/1302 suffices for closing this?

Once we support Profile Binding, we can tie that profile to Flux images, whi

[2022-11-15 23:46] pjbgf commented on #1210
I have noticed some issues due to the default `spod` settings.
Can you please try again with the below after removing all the operator objects from the cluster (operator, namespace, CRDs, etc)?

Here I deploy latest from main, delete spod, create a new one and deploy the sample profile:
[code]

In a few seconds you should be able to see:
[code]

[2022-11-16 11:13] vaibhav2107 commented on #1062
/remove-lifecycle stale

[2022-11-16 11:14] vaibhav2107 commented on #887
/remove-lifecycle stale

[2022-11-16 11:14] jhrozek commented on #409
I think yes, I hope that our users would contribute some profiles as well as time goes on

[2022-11-16 11:15] vaibhav2107 commented on #825
/remove-lifecycle stale

[2022-11-16 11:48] jhrozek opened #1305 "seccomp profiles do not print the localhost path"
#### What happened:
`kubectl get sp` does not print the localhost path of the profiles, the user must themselves check `.status.localhostProfile`

#### What you expected to happen:
the profile path should be visible in a print column for better ease of use

#### How to reproduce it (as minimally and precisely as possible):
`kubectl get sp`

#### Anything else we need to know?:
I'm not sure why the

[2022-11-16 14:13] jhrozek commented on #1305
Bah, you need to pass `-owide`:
[code]
sorry.

[2022-11-16 14:13] #1305 closed

[2022-11-17 09:55] saschagrunert opened #1308 "Release v0.6.0"
Tracking issue to release v0.6.0.

Release notes:
[code]

[2022-11-17 15:33] jhrozek commented on #1305
On Thu, Nov 17, 2022 at 12:27:00AM -0800, Sascha Grunert wrote:

It turned out to be a PEBKAC, but I did send a small docs clarification.

[2022-11-18 10:29] hacst commented on #718
@pjbgf Thanks a lot for working on this. I see the latest PR removes the "WIP" notes from the README. Does that mean it is ready to test? Should we wait for #1308 ? It is a bit hard to judge the state of this implementation from the outside so any insight you can give with regards to state (or even timeline) on this would be great. Thanks again.

[2022-11-18 12:46] jhrozek opened #1313 "Easier handling of default runtime profiles"
#### What would you like to be added:
At the very least, create the default runtime profiles which are supposed to be reused through the `baseProfileName` in the SPO namespace. We could `go:embed` them from the example manifests and create on startup.

But maybe we could do even better with creating a "hidden" or a "system" profile that would be just written to `/var/lib/kubelet/seccomp/operator/`

[2022-11-21 08:18] saschagrunert commented on #1313
Great idea! FWIW the current default profiles are there:

https://github.com/kubernetes-sigs/security-profiles-operator/blob/main/internal/pkg/manager/spod/bindata/default_profiles.go

[2022-11-21 15:32] saschagrunert commented on #1308
Done

[2022-11-21 15:32] #1308 closed

[2022-11-21 23:03] pjbgf commented on #1210
@juggarnautss we have released a version Today which means the official operator image is out with the necessary fixes for AppArmor to work.

I will try to invest some time on the settings later on this week. That isn't a fix as such, but rather a sensible default that would not give users the impression of the operator not working.

As for the chart, it is based in dir `/deploy/helm` of this repo

[2022-11-21 23:05] pjbgf commented on #718
@hacst feel free to test it, we have released a version Today with it.

There are plenty of improvements to come, but the basic functionality should already be in place.

[2022-11-22 07:48] tuxerrante commented on #1210
Thanks!
@pjbgf does that mean that _[release 0.6](https://github.com/kubernetes-sigs/security-profiles-operator/releases/tag/v0.6.0)_ solve this issue even if not officially mentioned in the release notes?

[2022-11-22 08:49] juggarnautss commented on #1210
@pjbgf

Thank you Paulo for addressing my queries.

I will raise the required PR on enabling apparmor by default via helm.

[2022-11-22 09:17] juggarnautss opened #1320 "Enabling of AppArmor feature by default in Security Profile Operator"
Requirement :
Enabling AppArmor feature by default in Security Profile Operator installation.

Current behavior is that we have to first install the Security Profile Operator , after then we have to patch the spod with appararmor flag to turn on the apparmor feature.

In our project, we will be always using the AppArmor feature by default whenever we are installing the Security Profile Operator on

[2022-11-22 09:23] juggarnautss commented on #1210
@pjbgf

Hi Paulo,

I have raised the feature required to enable apparmor by default.
https://github.com/kubernetes-sigs/security-profiles-operator/issues/1320

Thanks and regards,
Sirin

[2022-11-22 11:26] rahulroshank commented on #1210
Hi Paulo,

Tried deploying SPO using helm chart from 0.6.0 release.
Observed SPO image version tagged to latest. Are we going to keep it to latest or change it to 0.6.0?

[2022-11-22 13:30] #990 closed

[2022-11-22 15:25] saschagrunert opened #1325 "Get a project logo"
I think having a project logo would help the SPO to boost visibility within the community. The logo could also be re-used for operator hub and similar.

[2022-11-22 19:40] jhrozek commented on #1325
+1, my laptop lid only has one sad, lonely RHEL-9 sticker. It absolutely needs an SPO sticker!

[2022-11-23 08:23] saschagrunert commented on #1325
Do we have someone who could support us with that?

[2022-11-23 12:33] vaibhav2107 commented on #1122
/remove-lifecycle stale

[2022-11-23 12:35] vaibhav2107 commented on #201
/remove-lifecycle stale

[2022-11-26 08:07] pjbgf commented on #1210
@tuxerrante that's correct, I have now rectified the release notes to include the PR that fixes this.

[2022-11-26 08:23] pjbgf commented on #1325
Yep, that's a great idea.

@saschagrunert CNCF seems to offer this type of service: https://www.cncf.io/services-for-projects/#design-and-aesthetics.
Do you have access to the [CNCF Service Desk](https://cncfservicedesk.atlassian.net/)?

I am not entirely sure how it works for projects under kubernetes-sigs, but for projects directly under CNCF you just need to open a ticket.

[2022-11-26 08:29] pjbgf commented on #1325
I tried to open a ticket but their site is within a scheduled maintance window right now.
I think we should ask for both logo and a website, so we have an external place where we can share high level info about the project. I will try again once the service desk is live again.

[2022-11-26 08:37] pjbgf opened #1332 "Fail gracefully when deployed to kind"
#### What happened:

Deploying the latest version of SPO into kind results in:
[code]

#### What you expected to happen:

Graceful failure in case of unsupported platform.

#### How to reproduce it (as minimally and precisely as possible):

[code]

#### Anything else we need to know?:
N/A

#### Environment:

- Cloud provider or hardware configuration: XPS Laptop/11th Gen Intel(R) Core(TM) i7-11800

[2022-11-26 09:07] pjbgf commented on #653
Updated scorecard:
![image](https://user-images.githubusercontent.com/5452977/204080754-bff8c8e0-8e46-4891-a17e-df8c5877fca0.png)

[2022-11-26 09:21] pjbgf commented on #1325
I have created a request for Logo and Website (CNCFSD-1502). Let me know if any of you have a Service Desk account so I can share the ticket with you. Hopefully we get a reply soon. :crossed_fingers:

[2022-11-27 08:07] pjbgf commented on #1320
I propose we expand our helm chart to expose values to enable users to manage the `SecurityProfilesOperatorDaemon` config, so that users can toggle what's deployed more easily via three new values: `enableSelinux`, `enableLogEnricher` and `enableAppArmor`.

In terms of deploying components by default, both SELinux and AppArmor have underlying requirements at the worker nodes, so I think it would m

[2022-11-27 08:19] pjbgf opened #1334 "Helm: Make all images configurable values"
#### What would you like to be added:

Add configuration values to the SPO Helm Chart to configure all deployable images.

#### Why is this needed:

This enables users to have better control over what images/tags they deploy when using the official SPO helm chart, instead of having to create their own.

#### User story covered

As an infrastructure SRE, Kirsti would like to deploy the SPO using th

[2022-11-27 08:23] pjbgf commented on #1210
@rahulroshank I created an issue (https://github.com/kubernetes-sigs/security-profiles-operator/issues/1334) to track making that configurable.

Given that we are always patching and evolving the operator, you may want to still use the `latest` tag, however I understand that for hermetic deployments (and also in highly regulated environment), you may want to stick to immutable tags instead.

[2022-11-28 08:10] saschagrunert commented on #1332
Hm, is this issue seccomp related? Like, it runs docker as container runtime, right?

[2022-11-28 08:16] saschagrunert commented on #1320
@pjbgf I agree! We also cannot automate it away since worker nodes would come with different configurations. We could still improve by pre-checking which features are supported on which nodes and then report the result somehow to the end users. Maybe this is worth another investigation.

[2022-11-28 08:28] saschagrunert commented on #1325
I had access to the CNCF service desk, but my account does not seem to exist any more. Anyways, thank you for opening the ticket @pjbgf.

How will the website work? Do we get a domain, or will we host the website via GitHub pages directly?

[2022-11-28 08:55] pjbgf commented on #1325
I am not sure how the website works, I am waiting for them to come back on the ticket to get more information about it.

For the logo, I am assuming it is similar to the Security Audit services, in which we will have a follow-up meeting to discuss expectations. So as soon as I heard more I will relay here.

[2022-11-28 09:48] jhrozek commented on #1320
On Sun, Nov 27, 2022 at 12:08:01AM -0800, Paulo Gomes wrote:

I agree. In terms of enabling a feature at deployment time (which from
the user's POV would be the same as feature enabled by default), at
least OLM allows you to set an environment variable during installation,
so if the feature can be enabled via an env var, then that's all that's
needed.

[2022-11-28 21:40] pjbgf commented on #1332
It turned out to be just a very old version of `kind` (`v0.11.1`). I installed the latest (`v0.17.0`), and all the issues went away. :raised_hands:

[2022-11-28 21:40] #1332 closed

[2022-11-30 08:28] pjbgf opened #1340 "build: ubi-image needs bump"
#### What happened:

The ubi-image CI check is now failing due to upstream CVEs:
[code]

Failed build:
https://github.com/kubernetes-sigs/security-profiles-operator/actions/runs/3576322294/jobs/6013991447

[2022-11-30 08:44] saschagrunert commented on #1340
@pjbgf @JAORMX @jhrozek can we update it to UBI 9?

[2022-11-30 09:13] jhrozek commented on #1340
Hah, I'm working on this this week (I started downstream for different reasons), but in general yes. I think as long as OCP 4.12 (which is the last release using RHEL-8) is supported I would like both `Dockerfile.ubi8` and `Dockerfile.ubi9` to be around, the `deploy-openshift-dev` targets already support overriding the Dockerfile used for build, so we can either let the user pick the correct Docke

[2022-11-30 09:15] jhrozek commented on #1340
Oh, we also need a matching `selinuxd` image, the SELinux userspace changed between 8 and 9 and you really need the same major version or else Bad Things (tm) would happen.

I haven't figured out what that means for our OLM packaging.